openapi: 3.2.0
info:
  title: Google Dialogflow Generators API
  contact:
    name: Google Cloud
    url: https://cloud.google.com/dialogflow/
  license:
    name: Google APIs Terms of Service
    url: https://developers.google.com/terms
  termsOfService: https://cloud.google.com/terms
  x-refined-note:
  - x-discovery-id differs across the merged source definitions and was not carried
  - x-discovery-source differs across the merged source definitions and was not carried
  x-discovery-revision: '20260825'
  version: '1.0'
  description: 'Operations tagged generators across 2 of this provider''s published API definitions: google-dialogflow-cx-v3-openapi.yml, google-dialogflow-es-v2-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://dialogflow.googleapis.com
  description: Dialogflow API
tags:
- name: Generators
paths:
  /v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/generators:
    post:
      operationId: dialogflow_projects_locations_agents_generators_create
      tags:
      - Generators
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `parent`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: locationsId
        in: path
        description: 'Part of `parent`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: agentsId
        in: path
        description: 'Part of `parent`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: languageCode
        in: query
        schema:
          type: string
      x-discovery-path-template: v3/{parent}/generators
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudDialogflowCxV3Generator'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowCxV3Generator'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects locations agents generators create
      x-summary-source: derived
    get:
      operationId: dialogflow_projects_locations_agents_generators_list
      tags:
      - Generators
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `parent`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: locationsId
        in: path
        description: 'Part of `parent`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: agentsId
        in: path
        description: 'Part of `parent`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        schema:
          type: integer
          format: int32
      - name: pageToken
        in: query
        schema:
          type: string
      - name: languageCode
        in: query
        schema:
          type: string
      x-discovery-path-template: v3/{parent}/generators
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowCxV3ListGeneratorsResponse'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects locations agents generators list
      x-summary-source: derived
    servers:
    - url: https://dialogflow.googleapis.com
      description: Dialogflow API
  /v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/generators/{generatorsId}:
    get:
      operationId: dialogflow_projects_locations_agents_generators_get
      tags:
      - Generators
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/generators/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: locationsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/generators/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: agentsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/generators/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: generatorsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/generators/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: languageCode
        in: query
        schema:
          type: string
      x-discovery-path-template: v3/{name}
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowCxV3Generator'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects locations agents generators get
      x-summary-source: derived
    patch:
      operationId: dialogflow_projects_locations_agents_generators_patch
      tags:
      - Generators
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/generators/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: locationsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/generators/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: agentsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/generators/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: generatorsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/generators/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: updateMask
        in: query
        schema:
          type: string
      - name: languageCode
        in: query
        schema:
          type: string
      x-discovery-path-template: v3/{name}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudDialogflowCxV3Generator'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowCxV3Generator'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects locations agents generators patch
      x-summary-source: derived
    delete:
      operationId: dialogflow_projects_locations_agents_generators_delete
      tags:
      - Generators
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/generators/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: locationsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/generators/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: agentsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/generators/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: generatorsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/generators/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: force
        in: query
        schema:
          type: boolean
      x-discovery-path-template: v3/{name}
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleProtobufEmpty'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects locations agents generators delete
      x-summary-source: derived
    servers:
    - url: https://dialogflow.googleapis.com
      description: Dialogflow API
  /v2/projects/{projectsId}/locations/{locationsId}/generators:
    post:
      operationId: dialogflow_projects_locations_generators_create
      tags:
      - Generators
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `parent`. Resource name pattern: `^projects/[^/]+/locations/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: locationsId
        in: path
        description: 'Part of `parent`. Resource name pattern: `^projects/[^/]+/locations/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: generatorId
        in: query
        schema:
          type: string
      x-discovery-path-template: v2/{parent}/generators
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudDialogflowV2Generator'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowV2Generator'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects locations generators create
      x-summary-source: derived
    get:
      operationId: dialogflow_projects_locations_generators_list
      tags:
      - Generators
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `parent`. Resource name pattern: `^projects/[^/]+/locations/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: locationsId
        in: path
        description: 'Part of `parent`. Resource name pattern: `^projects/[^/]+/locations/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        schema:
          type: integer
          format: int32
      - name: pageToken
        in: query
        schema:
          type: string
      x-discovery-path-template: v2/{parent}/generators
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowV2ListGeneratorsResponse'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects locations generators list
      x-summary-source: derived
    servers:
    - url: https://dialogflow.googleapis.com
      description: Dialogflow API
  /v2/projects/{projectsId}/locations/{locationsId}/generators/{generatorsId}:
    patch:
      operationId: dialogflow_projects_locations_generators_patch
      tags:
      - Generators
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/generators/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: locationsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/generators/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: generatorsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/generators/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: updateMask
        in: query
        schema:
          type: string
      x-discovery-path-template: v2/{name}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudDialogflowV2Generator'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowV2Generator'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects locations generators patch
      x-summary-source: derived
    delete:
      operationId: dialogflow_projects_locations_generators_delete
      tags:
      - Generators
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/generators/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: locationsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/generators/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: generatorsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/generators/[^/]+$`.'
        required: true
        schema:
          type: string
      x-discovery-path-template: v2/{name}
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleProtobufEmpty'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects locations generators delete
      x-summary-source: derived
    get:
      operationId: dialogflow_projects_locations_generators_get
      tags:
      - Generators
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/generators/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: locationsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/generators/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: generatorsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/generators/[^/]+$`.'
        required: true
        schema:
          type: string
      x-discovery-path-template: v2/{name}
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowV2Generator'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects locations generators get
      x-summary-source: derived
    servers:
    - url: https://dialogflow.googleapis.com
      description: Dialogflow API
  /v2/projects/{projectsId}/generators:
    get:
      operationId: dialogflow_projects_generators_list
      tags:
      - Generators
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `parent`. Resource name pattern: `^projects/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        schema:
          type: integer
          format: int32
      - name: pageToken
        in: query
        schema:
          type: string
      x-discovery-path-template: v2/{parent}/generators
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowV2ListGeneratorsResponse'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects generators list
      x-summary-source: derived
    post:
      operationId: dialogflow_projects_generators_create
      tags:
      - Generators
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `parent`. Resource name pattern: `^projects/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: generatorId
        in: query
        schema:
          type: string
      x-discovery-path-template: v2/{parent}/generators
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudDialogflowV2Generator'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowV2Generator'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects generators create
      x-summary-source: derived
    servers:
    - url: https://dialogflow.googleapis.com
      description: Dialogflow API
components:
  schemas:
    GoogleCloudDialogflowCxV3LlmModelSettings:
      type: object
      properties:
        model:
          type: string
        promptText:
          type: string
    GoogleCloudDialogflowCxV3Phrase:
      type: object
      properties:
        text:
          type: string
    GoogleCloudDialogflowCxV3ListGeneratorsResponse:
      type: object
      properties:
        generators:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowCxV3Generator'
        nextPageToken:
          type: string
    GoogleRpcStatus:
      type: object
      properties:
        message:
          type: string
        code:
          type: integer
          format: int32
        details:
          type: array
          items:
            type: object
            additionalProperties:
              description: Properties of the object. Contains field @type with type URL.
    GoogleProtobufEmpty:
      type: object
    GoogleCloudDialogflowCxV3GeneratorModelParameter:
      type: object
      properties:
        topK:
          type: integer
          format: int32
        temperature:
          type: number
          format: float
        maxDecodeSteps:
          type: integer
          format: int32
        topP:
          type: number
          format: float
    GoogleCloudDialogflowCxV3GeneratorPlaceholder:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
    GoogleCloudDialogflowCxV3Generator:
      type: object
      properties:
        promptText:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3Phrase'
        placeholders:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowCxV3GeneratorPlaceholder'
        modelParameter:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3GeneratorModelParameter'
        llmModelSettings:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3LlmModelSettings'
        displayName:
          type: string
        name:
          type: string
    GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResult:
      type: object
      properties:
        duplicateSuggestions:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion'
    GoogleCloudDialogflowV2InferenceParameter:
      type: object
      properties:
        topK:
          type: integer
          format: int32
        maxOutputTokens:
          type: integer
          format: int32
        temperature:
          type: number
          format: double
        topP:
          type: number
          format: double
    GoogleCloudDialogflowV2SummarySuggestionSummarySection:
      type: object
      properties:
        section:
          type: string
        summary:
          type: string
    GoogleCloudDialogflowV2SuggestionDedupingConfig:
      type: object
      properties:
        similarityThreshold:
          type: number
          format: float
        enableDeduping:
          type: boolean
    GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion:
      type: object
      properties:
        answerRecord:
          type: string
          readOnly: true
        similarityScore:
          type: number
          format: float
          readOnly: true
        suggestionIndex:
          type: integer
          format: int32
          readOnly: true
        sources:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2AgentCoachingSuggestionSources'
    GoogleCloudDialogflowV2AgentCoachingSuggestion:
      type: object
      properties:
        agentActionSuggestions:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowV2AgentCoachingSuggestionAgentActionSuggestion'
        sampleResponses:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowV2AgentCoachingSuggestionSampleResponse'
        applicableInstructions:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowV2AgentCoachingInstruction'
    GoogleCloudDialogflowV2MessageEntry:
      type: object
      properties:
        role:
          type: string
          enum:
          - ROLE_UNSPECIFIED
          - HUMAN_AGENT
          - AUTOMATED_AGENT
          - END_USER
          x-enumDescriptions:
          - ''
          - ''
          - ''
          - ''
        languageCode:
          type: string
        createTime:
          type: string
          format: date-time
        text:
          type: string
    GoogleCloudDialogflowV2FreeFormContext:
      type: object
      properties:
        text:
          type: string
    GoogleCloudDialogflowV2AgentCoachingSuggestionAgentActionSuggestion:
      type: object
      properties:
        agentAction:
          type: string
        duplicateCheckResult:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResult'
        sources:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2AgentCoachingSuggestionSources'
    GoogleCloudDialogflowV2ListGeneratorsResponse:
      type: object
      properties:
        nextPageToken:
          type: string
        generators:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowV2Generator'
    GoogleCloudDialogflowV2AgentCoachingSuggestionSampleResponse:
      type: object
      properties:
        duplicateCheckResult:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResult'
        sources:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2AgentCoachingSuggestionSources'
        responseText:
          type: string
    GoogleCloudDialogflowV2SummarizationSectionList:
      type: object
      properties:
        summarizationSections:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowV2SummarizationSection'
    GoogleCloudDialogflowV2ToolCall:
      type: object
      properties:
        action:
          type: string
        createTime:
          type: string
          format: date-time
          readOnly: true
        cesApp:
          type: string
        cesToolset:
          type: string
        answerRecord:
          type: string
        toolDisplayDetails:
          type: string
        inputParameters:
          type: object
          additionalProperties:
            description: Properties of the object.
        tool:
          type: string
        toolDisplayName:
          type: string
        state:
          type: string
          enum:
          - STATE_UNSPECIFIED
          - TRIGGERED
          - NEEDS_CONFIRMATION
          x-enumDescriptions:
          - ''
          - ''
          - ''
          readOnly: true
        cesTool:
          type: string
    GoogleCloudDialogflowV2CesToolSpec:
      type: object
      properties:
        confirmationRequirement:
          type: string
          enum:
          - CONFIRMATION_REQUIREMENT_UNSPECIFIED
          - REQUIRED
          - NOT_REQUIRED
          x-enumDescriptions:
          - ''
          - ''
          - ''
        cesTool:
          type: string
    GoogleCloudDialogflowV2ToolCallResultError:
      type: object
      properties:
        retryable:
          type: boolean
        message:
          type: string
    GoogleCloudDialogflowV2ToolsetTool:
      type: object
      properties:
        toolset:
          type: string
        operationId:
          type: string
        confirmationRequirement:
          type: string
          enum:
          - CONFIRMATION_REQUIREMENT_UNSPECIFIED
          - REQUIRED
          - NOT_REQUIRED
          x-enumDescriptions:
          - ''
          - ''
          - ''
    GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResult:
      type: object
      properties:
        duplicateSuggestions:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion'
    GoogleCloudDialogflowV2FreeFormSuggestion:
      type: object
      properties:
        response:
          type: string
    GoogleCloudDialogflowV2AgentCoachingContext:
      type: object
      properties:
        version:
          type: string
        instructions:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowV2AgentCoachingInstruction'
        outputLanguageCode:
          type: string
        overarchingGuidance:
          type: string
    GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion:
      type: object
      properties:
        similarityScore:
          type: number
          format: float
          readOnly: true
        answerRecord:
          type: string
          readOnly: true
        suggestionIndex:
          type: integer
          format: int32
          readOnly: true
    GoogleCloudDialogflowV2CesAppSpec:
      type: object
      properties:
        proactiveEnabled:
          type: boolean
        cesApp:
          type: string
        confirmationRequirement:
          type: string
          enum:
          - CONFIRMATION_REQUIREMENT_UNSPECIFIED
          - REQUIRED
          - NOT_REQUIRED
          x-enumDescriptions:
          - ''
          - ''
          - ''
        reactiveEnabled:
          type: boolean
    GoogleCloudDialogflowV2Generator:
      type: object
      properties:
        triggerEvent:
          type: string
          enum:
          - TRIGGER_EVENT_UNSPECIFIED
          - END_OF_UTTERANCE
          - MANUAL_CALL
          - CUSTOMER_MESSAGE
          - AGENT_MESSAGE
          x-enumDescriptions:
          - ''
          - ''
          - ''
          - ''
          - ''
        createTime:
          type: string
          format: date-time
          readOnly: true
        toolsetTools:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowV2ToolsetTool'
        inferenceParameter:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2InferenceParameter'
        updateTime:
          type: string
          format: date-time
          readOnly: true
        tools:
          type: array
          items:
            type: string
        freeFormContext:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2FreeFormContext'
        agentCoachingContext:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2AgentCoachingContext'
        description:
          type: string
        summarizationContext:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2SummarizationContext'
        suggestionDedupingConfig:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2SuggestionDedupingConfig'
        cesToolSpecs:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowV2CesToolSpec'
        cesAppSpecs:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowV2CesAppSpec'
        publishedModel:
          type: string
        name:
          type: string
          readOnly: true
    GoogleCloudDialogflowV2AgentCoachingInstruction:
      type: object
      properties:
        duplicateCheckResult:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResult'
        displayName:
          type: string
        agentAction:
          type: string
        systemAction:
          type: string
        displayDetails:
          type: string
        condition:
          type: string
        triggeringEvent:
          type: string
          enum:
          - TRIGGER_EVENT_UNSPECIFIED
          - END_OF_UTTERANCE
          - MANUAL_CALL
          - CUSTOMER_MESSAGE
          - AGENT_MESSAGE
          - TOOL_CALL_COMPLETION
          x-enumDescriptions:
          - ''
          - ''
          - ''
          - ''
          - ''
          - ''
    GoogleCloudDialogflowV2GeneratorSuggestion:
      type: object
      properties:
        freeFormSuggestion:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2FreeFormSuggestion'
        summarySuggestion:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2SummarySuggestion'
        toolCallInfo:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowV2GeneratorSuggestionToolCallInfo'
        agentCoachingSuggestion:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2AgentCoachingSuggestion'
    GoogleCloudDialogflowV2SummarizationContext:
      type: object
      properties:
        version:
          type: string
        fewShotExamples:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowV2FewShotExample'
        summarizationSections:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowV2SummarizationSection'
        outputLanguageCode:
          type: string
    GoogleCloudDialogflowV2FewShotExample:
      type: object
      properties:
        summarizationSectionList:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2SummarizationSectionList'
        conversationContext:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2ConversationContext'
        extraInfo:
          type: object
          additionalProperties:
            type: string
        output:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2GeneratorSuggestion'
    GoogleCloudDialogflowV2ConversationContext:
      type: object
      properties:
        messageEntries:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowV2MessageEntry'
    GoogleCloudDialogflowV2ToolCallResult:
      type: object
      properties:
        answerRecord:
          type: string
        error:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2ToolCallResultError'
        cesTool:
          type: string
        action:
          type: string
        content:
          type: string
        cesApp:
          type: string
        rawContent:
          type: string
          format: byte
        tool:
          type: string
        cesToolset:
          type: string
        createTime:
          type: string
          format: date-time
          readOnly: true
    GoogleCloudDialogflowV2GeneratorSuggestionToolCallInfo:
      type: object
      properties:
        toolCall:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2ToolCall'
        toolCallResult:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2ToolCallResult'
    GoogleCloudDialogflowV2SummarizationSection:
      type: object
      properties:
        key:
          type: string
        type:
          type: string
          enum:
          - TYPE_UNSPECIFIED
          - SITUATION
          - ACTION
          - RESOLUTION
          - REASON_FOR_CANCELLATION
          - CUSTOMER_SATISFACTION
          - ENTITIES
          - CUSTOMER_DEFINED
          - SITUATION_CONCISE
          - ACTION_CONCISE
          x-enumDescriptions:
          - ''
          - ''
          - ''
          - ''
          - ''
          - ''
          - ''
          - ''
          - ''
          - ''
        definition:
          type: string
    GoogleCloudDialogflowV2SummarySuggestion:
      type: object
      properties:
        summarySections:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowV2SummarySuggestionSummarySection'
    GoogleCloudDialogflowV2AgentCoachingSuggestionSources:
      type: object
      properties:
        instructionIndexes:
          type: array
          readOnly: true
          items:
            type: integer
            format: int32
  securitySchemes:
    OAuth2:
      type: oauth2
      description: Google OAuth 2.0. Scopes are declared per operation in the Discovery Document.
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/v2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/cloud-platform: See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account.
            https://www.googleapis.com/auth/dialogflow: View, manage and query your Dialogflow agents
    BearerAuth:
      type: http
      scheme: bearer
      description: 'Google OAuth 2.0 access token or service-account-minted bearer token, sent as Authorization: Bearer <token>.'
x-refined-from:
- google-dialogflow-cx-v3-openapi.yml
- google-dialogflow-es-v2-openapi.yml
