openapi: 3.2.0
info:
  title: Dialogflow CX API (v3) - Conversational Agents API
  version: v3
  description: Dialogflow CX (Conversational Agents) builds flow- and playbook-based agents with pages, routes, webhooks, tools, test cases, environments, experiments and data stores. This OpenAPI is a mechanical conversion of the first-party Google Discovery Document served by dialogflow.googleapis.com.
  contact:
    name: Google Cloud
    url: https://cloud.google.com/dialogflow/
  termsOfService: https://cloud.google.com/terms
  license:
    name: Google APIs Terms of Service
    url: https://developers.google.com/terms
  x-discovery-source: https://dialogflow.googleapis.com/$discovery/rest?version=v3
  x-discovery-revision: '20260825'
  x-discovery-id: dialogflow:v3
servers:
- url: https://dialogflow.googleapis.com
  description: Dialogflow API
security:
- OAuth2:
  - https://www.googleapis.com/auth/cloud-platform
  - https://www.googleapis.com/auth/dialogflow
- BearerAuth: []
tags:
- name: Agents
paths:
  /v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}:
    patch:
      operationId: dialogflow_projects_locations_agents_patch
      tags:
      - Agents
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: locationsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: agentsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: updateMask
        in: query
        schema:
          type: string
      x-discovery-path-template: v3/{name}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudDialogflowCxV3Agent'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowCxV3Agent'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects locations agents patch
      x-summary-source: derived
    get:
      operationId: dialogflow_projects_locations_agents_get
      tags:
      - Agents
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: locationsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: agentsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+$`.'
        required: true
        schema:
          type: string
      x-discovery-path-template: v3/{name}
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowCxV3Agent'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects locations agents get
      x-summary-source: derived
    delete:
      operationId: dialogflow_projects_locations_agents_delete
      tags:
      - Agents
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: locationsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: agentsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+$`.'
        required: true
        schema:
          type: string
      x-discovery-path-template: v3/{name}
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleProtobufEmpty'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects locations agents delete
      x-summary-source: derived
  /v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/generativeSettings:
    get:
      operationId: dialogflow_projects_locations_agents_getGenerativeSettings
      tags:
      - Agents
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/generativeSettings$`.'
        required: true
        schema:
          type: string
      - name: locationsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/generativeSettings$`.'
        required: true
        schema:
          type: string
      - name: agentsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/generativeSettings$`.'
        required: true
        schema:
          type: string
      - name: languageCode
        in: query
        schema:
          type: string
      x-discovery-path-template: v3/{name}
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowCxV3GenerativeSettings'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects locations agents get generative settings
      x-summary-source: derived
    patch:
      operationId: dialogflow_projects_locations_agents_updateGenerativeSettings
      tags:
      - Agents
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/generativeSettings$`.'
        required: true
        schema:
          type: string
      - name: locationsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/generativeSettings$`.'
        required: true
        schema:
          type: string
      - name: agentsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/generativeSettings$`.'
        required: true
        schema:
          type: string
      - name: updateMask
        in: query
        schema:
          type: string
      x-discovery-path-template: v3/{name}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudDialogflowCxV3GenerativeSettings'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowCxV3GenerativeSettings'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects locations agents update generative settings
      x-summary-source: derived
  /v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}:export:
    post:
      operationId: dialogflow_projects_locations_agents_export
      tags:
      - Agents
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: locationsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: agentsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+$`.'
        required: true
        schema:
          type: string
      x-discovery-path-template: v3/{name}:export
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudDialogflowCxV3ExportAgentRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects locations agents export
      x-summary-source: derived
  /v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}:validate:
    post:
      operationId: dialogflow_projects_locations_agents_validate
      tags:
      - Agents
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: locationsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: agentsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+$`.'
        required: true
        schema:
          type: string
      x-discovery-path-template: v3/{name}:validate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudDialogflowCxV3ValidateAgentRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowCxV3AgentValidationResult'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects locations agents validate
      x-summary-source: derived
  /v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/validationResult:
    get:
      operationId: dialogflow_projects_locations_agents_getValidationResult
      tags:
      - Agents
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/validationResult$`.'
        required: true
        schema:
          type: string
      - name: locationsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/validationResult$`.'
        required: true
        schema:
          type: string
      - name: agentsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/validationResult$`.'
        required: true
        schema:
          type: string
      - name: languageCode
        in: query
        schema:
          type: string
      x-discovery-path-template: v3/{name}
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowCxV3AgentValidationResult'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects locations agents get validation result
      x-summary-source: derived
  /v3/projects/{projectsId}/locations/{locationsId}/agents:
    get:
      operationId: dialogflow_projects_locations_agents_list
      tags:
      - Agents
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `parent`. Resource name pattern: `^projects/[^/]+/locations/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: locationsId
        in: path
        description: 'Part of `parent`. Resource name pattern: `^projects/[^/]+/locations/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        schema:
          type: integer
          format: int32
      - name: pageToken
        in: query
        schema:
          type: string
      x-discovery-path-template: v3/{parent}/agents
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowCxV3ListAgentsResponse'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects locations agents list
      x-summary-source: derived
    post:
      operationId: dialogflow_projects_locations_agents_create
      tags:
      - Agents
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `parent`. Resource name pattern: `^projects/[^/]+/locations/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: locationsId
        in: path
        description: 'Part of `parent`. Resource name pattern: `^projects/[^/]+/locations/[^/]+$`.'
        required: true
        schema:
          type: string
      x-discovery-path-template: v3/{parent}/agents
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudDialogflowCxV3Agent'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowCxV3Agent'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects locations agents create
      x-summary-source: derived
  /v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}:restore:
    post:
      operationId: dialogflow_projects_locations_agents_restore
      tags:
      - Agents
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: locationsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: agentsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+$`.'
        required: true
        schema:
          type: string
      x-discovery-path-template: v3/{name}:restore
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudDialogflowCxV3RestoreAgentRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects locations agents restore
      x-summary-source: derived
components:
  schemas:
    GoogleCloudDialogflowCxV3AgentAnswerFeedbackSettings:
      type: object
      properties:
        enableAnswerFeedback:
          type: boolean
    GoogleCloudDialogflowCxV3SafetySettingsRaiSettings:
      type: object
      properties:
        categoryFilters:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowCxV3SafetySettingsRaiSettingsCategoryFilter'
    GoogleCloudDialogflowCxV3GenerativeSettingsFallbackSettingsPromptTemplate:
      type: object
      properties:
        frozen:
          type: boolean
        promptText:
          type: string
        displayName:
          type: string
    GoogleCloudDialogflowCxV3FlowValidationResult:
      type: object
      properties:
        updateTime:
          type: string
          format: date-time
        validationMessages:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowCxV3ValidationMessage'
        name:
          type: string
    GoogleCloudDialogflowCxV3AgentPersonalizationSettings:
      type: object
      properties:
        defaultEndUserMetadata:
          type: object
          additionalProperties:
            description: Properties of the object.
    GoogleCloudDialogflowCxV3AgentGitIntegrationSettingsGithubSettings:
      type: object
      properties:
        branches:
          type: array
          items:
            type: string
        trackingBranch:
          type: string
        accessToken:
          type: string
        repositoryUri:
          type: string
        displayName:
          type: string
    GoogleCloudDialogflowCxV3GenerativeSettingsKnowledgeConnectorSettings:
      type: object
      properties:
        business:
          type: string
        agent:
          type: string
        disableDataStoreFallback:
          type: boolean
        agentScope:
          type: string
        agentIdentity:
          type: string
        businessDescription:
          type: string
    GoogleCloudDialogflowCxV3GcsDestination:
      type: object
      properties:
        uri:
          type: string
    GoogleCloudDialogflowCxV3SafetySettings:
      type: object
      properties:
        defaultRaiSettings:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3SafetySettingsRaiSettings'
        bannedPhrases:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowCxV3SafetySettingsPhrase'
        promptSecuritySettings:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3SafetySettingsPromptSecuritySettings'
        defaultBannedPhraseMatchStrategy:
          type: string
          enum:
          - PHRASE_MATCH_STRATEGY_UNSPECIFIED
          - PARTIAL_MATCH
          - WORD_MATCH
          x-enumDescriptions:
          - ''
          - ''
          - ''
        raiSettings:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3SafetySettingsRaiSettings'
    GoogleCloudDialogflowCxV3GenerativeSettings:
      type: object
      properties:
        llmModelSettings:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3LlmModelSettings'
        fallbackSettings:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3GenerativeSettingsFallbackSettings'
        name:
          type: string
        knowledgeConnectorSettings:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3GenerativeSettingsKnowledgeConnectorSettings'
        generativeSafetySettings:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3SafetySettings'
        languageCode:
          type: string
    GoogleCloudDialogflowCxV3SpeechToTextSettings:
      type: object
      properties:
        enableSpeechAdaptation:
          type: boolean
    GoogleCloudDialogflowCxV3AdvancedSettings:
      type: object
      properties:
        speechSettings:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3AdvancedSettingsSpeechSettings'
        audioExportGcsDestination:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3GcsDestination'
        loggingSettings:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3AdvancedSettingsLoggingSettings'
        dtmfSettings:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3AdvancedSettingsDtmfSettings'
    GoogleCloudDialogflowCxV3ValidateAgentRequest:
      type: object
      properties:
        languageCode:
          type: string
    GoogleCloudDialogflowCxV3SynthesizeSpeechConfig:
      type: object
      properties:
        voice:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3VoiceSelectionParams'
        effectsProfileId:
          type: array
          items:
            type: string
        volumeGainDb:
          type: number
          format: double
        pitch:
          type: number
          format: double
        speakingRate:
          type: number
          format: double
    GoogleRpcStatus:
      type: object
      properties:
        message:
          type: string
        code:
          type: integer
          format: int32
        details:
          type: array
          items:
            type: object
            additionalProperties:
              description: Properties of the object. Contains field @type with type URL.
    GoogleCloudDialogflowCxV3ResourceName:
      type: object
      properties:
        name:
          type: string
        displayName:
          type: string
    GoogleCloudDialogflowCxV3TextToSpeechSettings:
      type: object
      properties:
        synthesizeSpeechConfigs:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/GoogleCloudDialogflowCxV3SynthesizeSpeechConfig'
    GoogleCloudDialogflowCxV3AgentValidationResult:
      type: object
      properties:
        name:
          type: string
        flowValidationResults:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowCxV3FlowValidationResult'
    GoogleCloudDialogflowCxV3AgentGenAppBuilderSettings:
      type: object
      properties:
        engine:
          type: string
    GoogleCloudDialogflowCxV3ExportAgentRequest:
      type: object
      properties:
        includeBigqueryExportSettings:
          type: boolean
        gitDestination:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3ExportAgentRequestGitDestination'
        agentUri:
          type: string
        environment:
          type: string
        dataFormat:
          type: string
          enum:
          - DATA_FORMAT_UNSPECIFIED
          - BLOB
          - JSON_PACKAGE
          x-enumDescriptions:
          - ''
          - ''
          - ''
    GoogleCloudDialogflowCxV3AdvancedSettingsLoggingSettings:
      type: object
      properties:
        enableConsentBasedRedaction:
          type: boolean
        enableStackdriverLogging:
          type: boolean
        enableInteractionLogging:
          type: boolean
    GoogleCloudDialogflowCxV3AdvancedSettingsDtmfSettings:
      type: object
      properties:
        enabled:
          type: boolean
        finishDigit:
          type: string
        interdigitTimeoutDuration:
          type: string
        maxDigits:
          type: integer
          format: int32
        endpointingTimeoutDuration:
          type: string
    GoogleCloudDialogflowCxV3ValidationMessage:
      type: object
      properties:
        resourceNames:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowCxV3ResourceName'
        resources:
          type: array
          items:
            type: string
        detail:
          type: string
        severity:
          type: string
          enum:
          - SEVERITY_UNSPECIFIED
          - INFO
          - WARNING
          - ERROR
          x-enumDescriptions:
          - ''
          - ''
          - ''
          - ''
        resourceType:
          type: string
          enum:
          - RESOURCE_TYPE_UNSPECIFIED
          - AGENT
          - INTENT
          - INTENT_TRAINING_PHRASE
          - INTENT_PARAMETER
          - INTENTS
          - INTENT_TRAINING_PHRASES
          - ENTITY_TYPE
          - ENTITY_TYPES
          - WEBHOOK
          - FLOW
          - PAGE
          - PAGES
          - TRANSITION_ROUTE_GROUP
          - AGENT_TRANSITION_ROUTE_GROUP
          x-enumDescriptions:
          - ''
          - ''
          - ''
          - ''
          - ''
          - ''
          - ''
          - ''
          - ''
          - ''
          - ''
          - ''
          - ''
          - ''
          - ''
    GoogleCloudDialogflowCxV3SafetySettingsPromptSecuritySettings:
      type: object
      properties:
        enablePromptSecurity:
          type: boolean
    GoogleCloudDialogflowCxV3RestoreAgentRequestGitSource:
      type: object
      properties:
        trackingBranch:
          type: string
    GoogleCloudDialogflowCxV3Agent:
      type: object
      properties:
        securitySettings:
          type: string
        startFlow:
          type: string
        clientCertificateSettings:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3AgentClientCertificateSettings'
        avatarUri:
          type: string
        textToSpeechSettings:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3TextToSpeechSettings'
        locked:
          type: boolean
        enableSpellCorrection:
          type: boolean
        speechToTextSettings:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3SpeechToTextSettings'
        satisfiesPzi:
          type: boolean
          readOnly: true
        advancedSettings:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3AdvancedSettings'
        description:
          type: string
        timeZone:
          type: string
        personalizationSettings:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3AgentPersonalizationSettings'
        supportedLanguageCodes:
          type: array
          items:
            type: string
        enableStackdriverLogging:
          type: boolean
        gitIntegrationSettings:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3AgentGitIntegrationSettings'
        answerFeedbackSettings:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3AgentAnswerFeedbackSettings'
        displayName:
          type: string
        enableMultiLanguageTraining:
          type: boolean
        genAppBuilderSettings:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3AgentGenAppBuilderSettings'
        name:
          type: string
        defaultLanguageCode:
          type: string
        startPlaybook:
          type: string
        satisfiesPzs:
          type: boolean
          readOnly: true
    GoogleCloudDialogflowCxV3VoiceSelectionParams:
      type: object
      properties:
        ssmlGender:
          type: string
          enum:
          - SSML_VOICE_GENDER_UNSPECIFIED
          - SSML_VOICE_GENDER_MALE
          - SSML_VOICE_GENDER_FEMALE
          - SSML_VOICE_GENDER_NEUTRAL
          x-enumDescriptions:
          - ''
          - ''
          - ''
          - ''
        name:
          type: string
    GoogleCloudDialogflowCxV3AgentGitIntegrationSettings:
      type: object
      properties:
        githubSettings:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3AgentGitIntegrationSettingsGithubSettings'
    GoogleCloudDialogflowCxV3AgentClientCertificateSettings:
      type: object
      properties:
        passphrase:
          type: string
        sslCertificate:
          type: string
        privateKey:
          type: string
    GoogleCloudDialogflowCxV3LlmModelSettings:
      type: object
      properties:
        model:
          type: string
        promptText:
          type: string
    GoogleLongrunningOperation:
      type: object
      properties:
        metadata:
          type: object
          additionalProperties:
            description: Properties of the object. Contains field @type with type URL.
        name:
          type: string
        done:
          type: boolean
        response:
          type: object
          additionalProperties:
            description: Properties of the object. Contains field @type with type URL.
        error:
          $ref: '#/components/schemas/GoogleRpcStatus'
    GoogleCloudDialogflowCxV3ExportAgentRequestGitDestination:
      type: object
      properties:
        trackingBranch:
          type: string
        commitMessage:
          type: string
    GoogleCloudDialogflowCxV3GenerativeSettingsFallbackSettings:
      type: object
      properties:
        promptTemplates:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowCxV3GenerativeSettingsFallbackSettingsPromptTemplate'
        selectedPrompt:
          type: string
    GoogleProtobufEmpty:
      type: object
    GoogleCloudDialogflowCxV3SafetySettingsRaiSettingsCategoryFilter:
      type: object
      properties:
        filterLevel:
          type: string
          enum:
          - SAFETY_FILTER_LEVEL_UNSPECIFIED
          - BLOCK_NONE
          - BLOCK_FEW
          - BLOCK_SOME
          - BLOCK_MOST
          x-enumDescriptions:
          - ''
          - ''
          - ''
          - ''
          - ''
        category:
          type: string
          enum:
          - SAFETY_CATEGORY_UNSPECIFIED
          - DANGEROUS_CONTENT
          - HATE_SPEECH
          - HARASSMENT
          - SEXUALLY_EXPLICIT_CONTENT
          x-enumDescriptions:
          - ''
          - ''
          - ''
          - ''
          - ''
    GoogleCloudDialogflowCxV3ListAgentsResponse:
      type: object
      properties:
        agents:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowCxV3Agent'
        nextPageToken:
          type: string
    GoogleCloudDialogflowCxV3AdvancedSettingsSpeechSettings:
      type: object
      properties:
        noSpeechTimeout:
          type: string
        models:
          type: object
          additionalProperties:
            type: string
        useTimeoutBasedEndpointing:
          type: boolean
        endpointerSensitivity:
          type: integer
          format: int32
    GoogleCloudDialogflowCxV3RestoreAgentRequest:
      type: object
      properties:
        restoreOption:
          type: string
          enum:
          - RESTORE_OPTION_UNSPECIFIED
          - KEEP
          - FALLBACK
          x-enumDescriptions:
          - ''
          - ''
          - ''
        agentUri:
          type: string
        gitSource:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3RestoreAgentRequestGitSource'
        agentContent:
          type: string
          format: byte
    GoogleCloudDialogflowCxV3SafetySettingsPhrase:
      type: object
      properties:
        text:
          type: string
        languageCode:
          type: string
  securitySchemes:
    OAuth2:
      type: oauth2
      description: Google OAuth 2.0. Scopes are declared per operation in the Discovery Document.
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/v2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/cloud-platform: See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account.
            https://www.googleapis.com/auth/dialogflow: View, manage and query your Dialogflow agents
    BearerAuth:
      type: http
      scheme: bearer
      description: 'Google OAuth 2.0 access token or service-account-minted bearer token, sent as Authorization: Bearer <token>.'
externalDocs:
  description: Dialogflow CX documentation
  url: https://cloud.google.com/dialogflow/cx/docs
