openapi: 3.2.0
info:
  title: Dialogflow CX API (v3) - Conversational Agents Experiments…
  version: v3
  description: Dialogflow CX (Conversational Agents) builds flow- and playbook-based agents with pages, routes, webhooks, tools, test cases, environments, experiments and data stores. This OpenAPI is a mechanical conversion of the first-party Google Discovery Document served by dialogflow.googleapis.com.
  contact:
    name: Google Cloud
    url: https://cloud.google.com/dialogflow/
  termsOfService: https://cloud.google.com/terms
  license:
    name: Google APIs Terms of Service
    url: https://developers.google.com/terms
  x-discovery-source: https://dialogflow.googleapis.com/$discovery/rest?version=v3
  x-discovery-revision: '20260825'
  x-discovery-id: dialogflow:v3
servers:
- url: https://dialogflow.googleapis.com
  description: Dialogflow API
security:
- OAuth2:
  - https://www.googleapis.com/auth/cloud-platform
  - https://www.googleapis.com/auth/dialogflow
- BearerAuth: []
tags:
- name: Experiments
paths:
  ? /v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments/{experimentsId}
  : delete:
      operationId: dialogflow_projects_locations_agents_environments_experiments_delete
      tags:
      - Experiments
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: locationsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: agentsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: environmentsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: experimentsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$`.'
        required: true
        schema:
          type: string
      x-discovery-path-template: v3/{name}
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleProtobufEmpty'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects locations agents environments experiments delete
      x-summary-source: derived
    patch:
      operationId: dialogflow_projects_locations_agents_environments_experiments_patch
      tags:
      - Experiments
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: locationsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: agentsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: environmentsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: experimentsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: updateMask
        in: query
        schema:
          type: string
      x-discovery-path-template: v3/{name}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudDialogflowCxV3Experiment'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowCxV3Experiment'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects locations agents environments experiments patch
      x-summary-source: derived
    get:
      operationId: dialogflow_projects_locations_agents_environments_experiments_get
      tags:
      - Experiments
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: locationsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: agentsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: environmentsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: experimentsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$`.'
        required: true
        schema:
          type: string
      x-discovery-path-template: v3/{name}
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowCxV3Experiment'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects locations agents environments experiments get
      x-summary-source: derived
  ? /v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments/{experimentsId}:start
  : post:
      operationId: dialogflow_projects_locations_agents_environments_experiments_start
      tags:
      - Experiments
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: locationsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: agentsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: environmentsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: experimentsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$`.'
        required: true
        schema:
          type: string
      x-discovery-path-template: v3/{name}:start
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudDialogflowCxV3StartExperimentRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowCxV3Experiment'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects locations agents environments experiments start
      x-summary-source: derived
  /v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments:
    get:
      operationId: dialogflow_projects_locations_agents_environments_experiments_list
      tags:
      - Experiments
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `parent`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: locationsId
        in: path
        description: 'Part of `parent`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: agentsId
        in: path
        description: 'Part of `parent`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: environmentsId
        in: path
        description: 'Part of `parent`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: pageToken
        in: query
        schema:
          type: string
      - name: pageSize
        in: query
        schema:
          type: integer
          format: int32
      x-discovery-path-template: v3/{parent}/experiments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowCxV3ListExperimentsResponse'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects locations agents environments experiments list
      x-summary-source: derived
    post:
      operationId: dialogflow_projects_locations_agents_environments_experiments_create
      tags:
      - Experiments
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `parent`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: locationsId
        in: path
        description: 'Part of `parent`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: agentsId
        in: path
        description: 'Part of `parent`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: environmentsId
        in: path
        description: 'Part of `parent`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$`.'
        required: true
        schema:
          type: string
      x-discovery-path-template: v3/{parent}/experiments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudDialogflowCxV3Experiment'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowCxV3Experiment'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects locations agents environments experiments create
      x-summary-source: derived
  ? /v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments/{experimentsId}:stop
  : post:
      operationId: dialogflow_projects_locations_agents_environments_experiments_stop
      tags:
      - Experiments
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: locationsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: agentsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: environmentsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: experimentsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$`.'
        required: true
        schema:
          type: string
      x-discovery-path-template: v3/{name}:stop
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudDialogflowCxV3StopExperimentRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowCxV3Experiment'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects locations agents environments experiments stop
      x-summary-source: derived
components:
  schemas:
    GoogleCloudDialogflowCxV3ExperimentResultMetric:
      type: object
      properties:
        count:
          type: number
          format: double
        ratio:
          type: number
          format: double
        confidenceInterval:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3ExperimentResultConfidenceInterval'
        type:
          type: string
          enum:
          - METRIC_UNSPECIFIED
          - CONTAINED_SESSION_NO_CALLBACK_RATE
          - LIVE_AGENT_HANDOFF_RATE
          - CALLBACK_SESSION_RATE
          - ABANDONED_SESSION_RATE
          - SESSION_END_RATE
          x-enumDescriptions:
          - ''
          - ''
          - ''
          - ''
          - ''
          - ''
        countType:
          type: string
          enum:
          - COUNT_TYPE_UNSPECIFIED
          - TOTAL_NO_MATCH_COUNT
          - TOTAL_TURN_COUNT
          - AVERAGE_TURN_COUNT
          x-enumDescriptions:
          - ''
          - ''
          - ''
          - ''
    GoogleCloudDialogflowCxV3VersionVariants:
      type: object
      properties:
        variants:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowCxV3VersionVariantsVariant'
    GoogleCloudDialogflowCxV3VariantsHistory:
      type: object
      properties:
        versionVariants:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3VersionVariants'
        updateTime:
          type: string
          format: date-time
    GoogleCloudDialogflowCxV3ListExperimentsResponse:
      type: object
      properties:
        nextPageToken:
          type: string
        experiments:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowCxV3Experiment'
    GoogleCloudDialogflowCxV3StopExperimentRequest:
      type: object
    GoogleCloudDialogflowCxV3RolloutConfigRolloutStep:
      type: object
      properties:
        displayName:
          type: string
        minDuration:
          type: string
        trafficPercent:
          type: integer
          format: int32
    GoogleCloudDialogflowCxV3ExperimentResultVersionMetrics:
      type: object
      properties:
        sessionCount:
          type: integer
          format: int32
        version:
          type: string
        metrics:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowCxV3ExperimentResultMetric'
    GoogleRpcStatus:
      type: object
      properties:
        message:
          type: string
        code:
          type: integer
          format: int32
        details:
          type: array
          items:
            type: object
            additionalProperties:
              description: Properties of the object. Contains field @type with type URL.
    GoogleProtobufEmpty:
      type: object
    GoogleCloudDialogflowCxV3StartExperimentRequest:
      type: object
    GoogleCloudDialogflowCxV3ExperimentResultConfidenceInterval:
      type: object
      properties:
        confidenceLevel:
          type: number
          format: double
        upperBound:
          type: number
          format: double
        ratio:
          type: number
          format: double
        lowerBound:
          type: number
          format: double
    GoogleCloudDialogflowCxV3VersionVariantsVariant:
      type: object
      properties:
        isControlGroup:
          type: boolean
        trafficAllocation:
          type: number
          format: float
        version:
          type: string
    GoogleCloudDialogflowCxV3Experiment:
      type: object
      properties:
        displayName:
          type: string
        definition:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3ExperimentDefinition'
        result:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3ExperimentResult'
        lastUpdateTime:
          type: string
          format: date-time
        endTime:
          type: string
          format: date-time
        experimentLength:
          type: string
        name:
          type: string
        rolloutConfig:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3RolloutConfig'
        variantsHistory:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowCxV3VariantsHistory'
        state:
          type: string
          enum:
          - STATE_UNSPECIFIED
          - DRAFT
          - RUNNING
          - DONE
          - ROLLOUT_FAILED
          x-enumDescriptions:
          - ''
          - ''
          - ''
          - ''
          - ''
        rolloutFailureReason:
          type: string
        startTime:
          type: string
          format: date-time
        createTime:
          type: string
          format: date-time
        rolloutState:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3RolloutState'
        description:
          type: string
    GoogleCloudDialogflowCxV3ExperimentResult:
      type: object
      properties:
        versionMetrics:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowCxV3ExperimentResultVersionMetrics'
        lastUpdateTime:
          type: string
          format: date-time
    GoogleCloudDialogflowCxV3RolloutConfig:
      type: object
      properties:
        rolloutCondition:
          type: string
        failureCondition:
          type: string
        rolloutSteps:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowCxV3RolloutConfigRolloutStep'
    GoogleCloudDialogflowCxV3RolloutState:
      type: object
      properties:
        stepIndex:
          type: integer
          format: int32
        step:
          type: string
        startTime:
          type: string
          format: date-time
    GoogleCloudDialogflowCxV3ExperimentDefinition:
      type: object
      properties:
        condition:
          type: string
        versionVariants:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3VersionVariants'
  securitySchemes:
    OAuth2:
      type: oauth2
      description: Google OAuth 2.0. Scopes are declared per operation in the Discovery Document.
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/v2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/cloud-platform: See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account.
            https://www.googleapis.com/auth/dialogflow: View, manage and query your Dialogflow agents
    BearerAuth:
      type: http
      scheme: bearer
      description: 'Google OAuth 2.0 access token or service-account-minted bearer token, sent as Authorization: Bearer <token>.'
externalDocs:
  description: Dialogflow CX documentation
  url: https://cloud.google.com/dialogflow/cx/docs
