openapi: 3.2.0
info:
  title: Dialogflow CX API (v3) - Conversational Agents Webhooks API
  version: v3
  description: Dialogflow CX (Conversational Agents) builds flow- and playbook-based agents with pages, routes, webhooks, tools, test cases, environments, experiments and data stores. This OpenAPI is a mechanical conversion of the first-party Google Discovery Document served by dialogflow.googleapis.com.
  contact:
    name: Google Cloud
    url: https://cloud.google.com/dialogflow/
  termsOfService: https://cloud.google.com/terms
  license:
    name: Google APIs Terms of Service
    url: https://developers.google.com/terms
  x-discovery-source: https://dialogflow.googleapis.com/$discovery/rest?version=v3
  x-discovery-revision: '20260825'
  x-discovery-id: dialogflow:v3
servers:
- url: https://dialogflow.googleapis.com
  description: Dialogflow API
security:
- OAuth2:
  - https://www.googleapis.com/auth/cloud-platform
  - https://www.googleapis.com/auth/dialogflow
- BearerAuth: []
tags:
- name: Webhooks
paths:
  /v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/webhooks/{webhooksId}:
    patch:
      operationId: dialogflow_projects_locations_agents_webhooks_patch
      tags:
      - Webhooks
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/webhooks/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: locationsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/webhooks/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: agentsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/webhooks/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: webhooksId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/webhooks/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: updateMask
        in: query
        schema:
          type: string
      x-discovery-path-template: v3/{name}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudDialogflowCxV3Webhook'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowCxV3Webhook'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects locations agents webhooks patch
      x-summary-source: derived
    delete:
      operationId: dialogflow_projects_locations_agents_webhooks_delete
      tags:
      - Webhooks
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/webhooks/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: locationsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/webhooks/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: agentsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/webhooks/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: webhooksId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/webhooks/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: force
        in: query
        schema:
          type: boolean
      x-discovery-path-template: v3/{name}
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleProtobufEmpty'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects locations agents webhooks delete
      x-summary-source: derived
    get:
      operationId: dialogflow_projects_locations_agents_webhooks_get
      tags:
      - Webhooks
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/webhooks/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: locationsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/webhooks/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: agentsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/webhooks/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: webhooksId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/webhooks/[^/]+$`.'
        required: true
        schema:
          type: string
      x-discovery-path-template: v3/{name}
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowCxV3Webhook'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects locations agents webhooks get
      x-summary-source: derived
  /v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/webhooks:
    post:
      operationId: dialogflow_projects_locations_agents_webhooks_create
      tags:
      - Webhooks
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `parent`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: locationsId
        in: path
        description: 'Part of `parent`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: agentsId
        in: path
        description: 'Part of `parent`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+$`.'
        required: true
        schema:
          type: string
      x-discovery-path-template: v3/{parent}/webhooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudDialogflowCxV3Webhook'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowCxV3Webhook'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects locations agents webhooks create
      x-summary-source: derived
    get:
      operationId: dialogflow_projects_locations_agents_webhooks_list
      tags:
      - Webhooks
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `parent`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: locationsId
        in: path
        description: 'Part of `parent`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: agentsId
        in: path
        description: 'Part of `parent`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: pageToken
        in: query
        schema:
          type: string
      - name: pageSize
        in: query
        schema:
          type: integer
          format: int32
      x-discovery-path-template: v3/{parent}/webhooks
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowCxV3ListWebhooksResponse'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects locations agents webhooks list
      x-summary-source: derived
components:
  schemas:
    GoogleCloudDialogflowCxV3Webhook:
      type: object
      properties:
        genericWebService:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3WebhookGenericWebService'
        timeout:
          type: string
        name:
          type: string
        serviceDirectory:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3WebhookServiceDirectoryConfig'
        disabled:
          type: boolean
        displayName:
          type: string
    GoogleRpcStatus:
      type: object
      properties:
        message:
          type: string
        code:
          type: integer
          format: int32
        details:
          type: array
          items:
            type: object
            additionalProperties:
              description: Properties of the object. Contains field @type with type URL.
    GoogleCloudDialogflowCxV3WebhookGenericWebService:
      type: object
      properties:
        oauthConfig:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3WebhookGenericWebServiceOAuthConfig'
        serviceAccountAuthConfig:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3WebhookGenericWebServiceServiceAccountAuthConfig'
        allowedCaCerts:
          type: array
          items:
            type: string
            format: byte
        requestBody:
          type: string
        requestHeaders:
          type: object
          additionalProperties:
            type: string
        serviceAgentAuth:
          type: string
          enum:
          - SERVICE_AGENT_AUTH_UNSPECIFIED
          - NONE
          - ID_TOKEN
          - ACCESS_TOKEN
          x-enumDescriptions:
          - ''
          - ''
          - ''
          - ''
        httpMethod:
          type: string
          enum:
          - HTTP_METHOD_UNSPECIFIED
          - POST
          - GET
          - HEAD
          - PUT
          - DELETE
          - PATCH
          - OPTIONS
          x-enumDescriptions:
          - ''
          - ''
          - ''
          - ''
          - ''
          - ''
          - ''
          - ''
        password:
          type: string
        uri:
          type: string
        secretVersionForUsernamePassword:
          type: string
        parameterMapping:
          type: object
          additionalProperties:
            type: string
        username:
          type: string
        secretVersionsForRequestHeaders:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/GoogleCloudDialogflowCxV3WebhookGenericWebServiceSecretVersionHeaderValue'
        webhookType:
          type: string
          enum:
          - WEBHOOK_TYPE_UNSPECIFIED
          - STANDARD
          - FLEXIBLE
          x-enumDescriptions:
          - ''
          - ''
          - ''
    GoogleProtobufEmpty:
      type: object
    GoogleCloudDialogflowCxV3ListWebhooksResponse:
      type: object
      properties:
        webhooks:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowCxV3Webhook'
        nextPageToken:
          type: string
    GoogleCloudDialogflowCxV3WebhookGenericWebServiceSecretVersionHeaderValue:
      type: object
      properties:
        secretVersion:
          type: string
    GoogleCloudDialogflowCxV3WebhookServiceDirectoryConfig:
      type: object
      properties:
        genericWebService:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3WebhookGenericWebService'
        service:
          type: string
    GoogleCloudDialogflowCxV3WebhookGenericWebServiceOAuthConfig:
      type: object
      properties:
        secretVersionForClientSecret:
          type: string
        clientSecret:
          type: string
        scopes:
          type: array
          items:
            type: string
        clientId:
          type: string
        tokenEndpoint:
          type: string
    GoogleCloudDialogflowCxV3WebhookGenericWebServiceServiceAccountAuthConfig:
      type: object
      properties:
        serviceAccount:
          type: string
  securitySchemes:
    OAuth2:
      type: oauth2
      description: Google OAuth 2.0. Scopes are declared per operation in the Discovery Document.
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/v2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/cloud-platform: See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account.
            https://www.googleapis.com/auth/dialogflow: View, manage and query your Dialogflow agents
    BearerAuth:
      type: http
      scheme: bearer
      description: 'Google OAuth 2.0 access token or service-account-minted bearer token, sent as Authorization: Bearer <token>.'
externalDocs:
  description: Dialogflow CX documentation
  url: https://cloud.google.com/dialogflow/cx/docs
