openapi: 3.2.0
info:
  title: Dialogflow ES API (v2) Conversation Models API
  version: v2
  description: Dialogflow ES (Essentials) builds conversational interfaces with intents, entity types, contexts, sessions, knowledge bases, conversation profiles and Agent Assist. This OpenAPI is a mechanical conversion of the first-party Google Discovery Document served by dialogflow.googleapis.com.
  contact:
    name: Google Cloud
    url: https://cloud.google.com/dialogflow/
  termsOfService: https://cloud.google.com/terms
  license:
    name: Google APIs Terms of Service
    url: https://developers.google.com/terms
  x-discovery-source: https://dialogflow.googleapis.com/$discovery/rest?version=v2
  x-discovery-revision: '20260825'
  x-discovery-id: dialogflow:v2
servers:
- url: https://dialogflow.googleapis.com
  description: Dialogflow API
security:
- OAuth2:
  - https://www.googleapis.com/auth/dialogflow
  - https://www.googleapis.com/auth/cloud-platform
- BearerAuth: []
tags:
- name: conversationModels
paths:
  /v2/projects/{projectsId}/locations/{locationsId}/conversationModels/{conversationModelsId}:deploy:
    post:
      operationId: dialogflow_projects_locations_conversationModels_deploy
      tags:
      - conversationModels
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/conversationModels/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: locationsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/conversationModels/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: conversationModelsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/conversationModels/[^/]+$`.'
        required: true
        schema:
          type: string
      x-discovery-path-template: v2/{name}:deploy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudDialogflowV2DeployConversationModelRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects locations conversation models deploy
      x-summary-source: derived
  /v2/projects/{projectsId}/locations/{locationsId}/conversationModels:
    post:
      operationId: dialogflow_projects_locations_conversationModels_create
      tags:
      - conversationModels
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `parent`. Resource name pattern: `^projects/[^/]+/locations/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: locationsId
        in: path
        description: 'Part of `parent`. Resource name pattern: `^projects/[^/]+/locations/[^/]+$`.'
        required: true
        schema:
          type: string
      x-discovery-path-template: v2/{parent}/conversationModels
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudDialogflowV2ConversationModel'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects locations conversation models create
      x-summary-source: derived
    get:
      operationId: dialogflow_projects_locations_conversationModels_list
      tags:
      - conversationModels
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `parent`. Resource name pattern: `^projects/[^/]+/locations/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: locationsId
        in: path
        description: 'Part of `parent`. Resource name pattern: `^projects/[^/]+/locations/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: pageToken
        in: query
        schema:
          type: string
      - name: pageSize
        in: query
        schema:
          type: integer
          format: int32
      x-discovery-path-template: v2/{parent}/conversationModels
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowV2ListConversationModelsResponse'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects locations conversation models list
      x-summary-source: derived
  /v2/projects/{projectsId}/locations/{locationsId}/conversationModels/{conversationModelsId}:
    get:
      operationId: dialogflow_projects_locations_conversationModels_get
      tags:
      - conversationModels
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/conversationModels/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: locationsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/conversationModels/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: conversationModelsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/conversationModels/[^/]+$`.'
        required: true
        schema:
          type: string
      x-discovery-path-template: v2/{name}
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowV2ConversationModel'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects locations conversation models get
      x-summary-source: derived
    delete:
      operationId: dialogflow_projects_locations_conversationModels_delete
      tags:
      - conversationModels
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/conversationModels/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: locationsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/conversationModels/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: conversationModelsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/conversationModels/[^/]+$`.'
        required: true
        schema:
          type: string
      x-discovery-path-template: v2/{name}
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects locations conversation models delete
      x-summary-source: derived
  /v2/projects/{projectsId}/locations/{locationsId}/conversationModels/{conversationModelsId}:undeploy:
    post:
      operationId: dialogflow_projects_locations_conversationModels_undeploy
      tags:
      - conversationModels
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/conversationModels/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: locationsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/conversationModels/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: conversationModelsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/conversationModels/[^/]+$`.'
        required: true
        schema:
          type: string
      x-discovery-path-template: v2/{name}:undeploy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudDialogflowV2UndeployConversationModelRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects locations conversation models undeploy
      x-summary-source: derived
  /v2/projects/{projectsId}/conversationModels/{conversationModelsId}:undeploy:
    post:
      operationId: dialogflow_projects_conversationModels_undeploy
      tags:
      - conversationModels
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/conversationModels/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: conversationModelsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/conversationModels/[^/]+$`.'
        required: true
        schema:
          type: string
      x-discovery-path-template: v2/{name}:undeploy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudDialogflowV2UndeployConversationModelRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects conversation models undeploy
      x-summary-source: derived
  /v2/projects/{projectsId}/conversationModels/{conversationModelsId}:
    get:
      operationId: dialogflow_projects_conversationModels_get
      tags:
      - conversationModels
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/conversationModels/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: conversationModelsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/conversationModels/[^/]+$`.'
        required: true
        schema:
          type: string
      x-discovery-path-template: v2/{name}
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowV2ConversationModel'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects conversation models get
      x-summary-source: derived
    delete:
      operationId: dialogflow_projects_conversationModels_delete
      tags:
      - conversationModels
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/conversationModels/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: conversationModelsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/conversationModels/[^/]+$`.'
        required: true
        schema:
          type: string
      x-discovery-path-template: v2/{name}
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects conversation models delete
      x-summary-source: derived
  /v2/projects/{projectsId}/conversationModels:
    post:
      operationId: dialogflow_projects_conversationModels_create
      tags:
      - conversationModels
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `parent`. Resource name pattern: `^projects/[^/]+$`.'
        required: true
        schema:
          type: string
      x-discovery-path-template: v2/{parent}/conversationModels
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudDialogflowV2ConversationModel'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects conversation models create
      x-summary-source: derived
    get:
      operationId: dialogflow_projects_conversationModels_list
      tags:
      - conversationModels
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `parent`. Resource name pattern: `^projects/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        schema:
          type: integer
          format: int32
      - name: pageToken
        in: query
        schema:
          type: string
      x-discovery-path-template: v2/{parent}/conversationModels
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowV2ListConversationModelsResponse'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects conversation models list
      x-summary-source: derived
  /v2/projects/{projectsId}/conversationModels/{conversationModelsId}:deploy:
    post:
      operationId: dialogflow_projects_conversationModels_deploy
      tags:
      - conversationModels
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/conversationModels/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: conversationModelsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/conversationModels/[^/]+$`.'
        required: true
        schema:
          type: string
      x-discovery-path-template: v2/{name}:deploy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudDialogflowV2DeployConversationModelRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects conversation models deploy
      x-summary-source: derived
components:
  schemas:
    GoogleCloudDialogflowV2InputDataset:
      type: object
      properties:
        dataset:
          type: string
    GoogleCloudDialogflowV2DeployConversationModelRequest:
      type: object
    GoogleCloudDialogflowV2ArticleSuggestionModelMetadata:
      type: object
      properties:
        trainingModelType:
          type: string
          enum:
          - MODEL_TYPE_UNSPECIFIED
          - SMART_REPLY_DUAL_ENCODER_MODEL
          - SMART_REPLY_BERT_MODEL
          x-enumDescriptions:
          - ''
          - ''
          - ''
    GoogleCloudDialogflowV2ListConversationModelsResponse:
      type: object
      properties:
        conversationModels:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowV2ConversationModel'
        nextPageToken:
          type: string
    GoogleLongrunningOperation:
      type: object
      properties:
        name:
          type: string
        metadata:
          type: object
          additionalProperties:
            description: Properties of the object. Contains field @type with type URL.
        done:
          type: boolean
        response:
          type: object
          additionalProperties:
            description: Properties of the object. Contains field @type with type URL.
        error:
          $ref: '#/components/schemas/GoogleRpcStatus'
    GoogleCloudDialogflowV2SmartReplyModelMetadata:
      type: object
      properties:
        trainingModelType:
          type: string
          enum:
          - MODEL_TYPE_UNSPECIFIED
          - SMART_REPLY_DUAL_ENCODER_MODEL
          - SMART_REPLY_BERT_MODEL
          x-enumDescriptions:
          - ''
          - ''
          - ''
    GoogleRpcStatus:
      type: object
      properties:
        message:
          type: string
        code:
          type: integer
          format: int32
        details:
          type: array
          items:
            type: object
            additionalProperties:
              description: Properties of the object. Contains field @type with type URL.
    GoogleCloudDialogflowV2UndeployConversationModelRequest:
      type: object
    GoogleCloudDialogflowV2ConversationModel:
      type: object
      properties:
        state:
          type: string
          enum:
          - STATE_UNSPECIFIED
          - CREATING
          - UNDEPLOYED
          - DEPLOYING
          - DEPLOYED
          - UNDEPLOYING
          - DELETING
          - FAILED
          - PENDING
          x-enumDescriptions:
          - ''
          - ''
          - ''
          - ''
          - ''
          - ''
          - ''
          - ''
          - ''
          readOnly: true
        smartReplyModelMetadata:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2SmartReplyModelMetadata'
        name:
          type: string
        datasets:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowV2InputDataset'
        displayName:
          type: string
        createTime:
          type: string
          format: date-time
          readOnly: true
        articleSuggestionModelMetadata:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2ArticleSuggestionModelMetadata'
        languageCode:
          type: string
        satisfiesPzs:
          type: boolean
          readOnly: true
        satisfiesPzi:
          type: boolean
          readOnly: true
  securitySchemes:
    OAuth2:
      type: oauth2
      description: Google OAuth 2.0. Scopes are declared per operation in the Discovery Document.
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/v2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/dialogflow: View, manage and query your Dialogflow agents
            https://www.googleapis.com/auth/cloud-platform: See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account.
    BearerAuth:
      type: http
      scheme: bearer
      description: 'Google OAuth 2.0 access token or service-account-minted bearer token, sent as Authorization: Bearer <token>.'
externalDocs:
  description: Dialogflow ES documentation
  url: https://cloud.google.com/dialogflow/es/docs
