openapi: 3.2.0
info:
  title: Dialogflow CX API (v3) - Conversational Agents Flows API
  version: v3
  description: Dialogflow CX (Conversational Agents) builds flow- and playbook-based agents with pages, routes, webhooks, tools, test cases, environments, experiments and data stores. This OpenAPI is a mechanical conversion of the first-party Google Discovery Document served by dialogflow.googleapis.com.
  contact:
    name: Google Cloud
    url: https://cloud.google.com/dialogflow/
  termsOfService: https://cloud.google.com/terms
  license:
    name: Google APIs Terms of Service
    url: https://developers.google.com/terms
  x-discovery-source: https://dialogflow.googleapis.com/$discovery/rest?version=v3
  x-discovery-revision: '20260825'
  x-discovery-id: dialogflow:v3
servers:
- url: https://dialogflow.googleapis.com
  description: Dialogflow API
security:
- OAuth2:
  - https://www.googleapis.com/auth/cloud-platform
  - https://www.googleapis.com/auth/dialogflow
- BearerAuth: []
tags:
- name: Flows
paths:
  /v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows:
    get:
      operationId: dialogflow_projects_locations_agents_flows_list
      tags:
      - Flows
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `parent`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: locationsId
        in: path
        description: 'Part of `parent`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: agentsId
        in: path
        description: 'Part of `parent`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        schema:
          type: integer
          format: int32
      - name: languageCode
        in: query
        schema:
          type: string
      - name: pageToken
        in: query
        schema:
          type: string
      x-discovery-path-template: v3/{parent}/flows
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowCxV3ListFlowsResponse'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects locations agents flows list
      x-summary-source: derived
    post:
      operationId: dialogflow_projects_locations_agents_flows_create
      tags:
      - Flows
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `parent`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: locationsId
        in: path
        description: 'Part of `parent`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: agentsId
        in: path
        description: 'Part of `parent`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: languageCode
        in: query
        schema:
          type: string
      x-discovery-path-template: v3/{parent}/flows
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudDialogflowCxV3Flow'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowCxV3Flow'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects locations agents flows create
      x-summary-source: derived
  /v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}:
    delete:
      operationId: dialogflow_projects_locations_agents_flows_delete
      tags:
      - Flows
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: locationsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: agentsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: flowsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: force
        in: query
        schema:
          type: boolean
      x-discovery-path-template: v3/{name}
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleProtobufEmpty'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects locations agents flows delete
      x-summary-source: derived
    get:
      operationId: dialogflow_projects_locations_agents_flows_get
      tags:
      - Flows
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: locationsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: agentsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: flowsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: languageCode
        in: query
        schema:
          type: string
      x-discovery-path-template: v3/{name}
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowCxV3Flow'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects locations agents flows get
      x-summary-source: derived
    patch:
      operationId: dialogflow_projects_locations_agents_flows_patch
      tags:
      - Flows
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: locationsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: agentsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: flowsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: languageCode
        in: query
        schema:
          type: string
      - name: updateMask
        in: query
        schema:
          type: string
      x-discovery-path-template: v3/{name}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudDialogflowCxV3Flow'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowCxV3Flow'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects locations agents flows patch
      x-summary-source: derived
  /v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows:import:
    post:
      operationId: dialogflow_projects_locations_agents_flows_import
      tags:
      - Flows
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `parent`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: locationsId
        in: path
        description: 'Part of `parent`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: agentsId
        in: path
        description: 'Part of `parent`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+$`.'
        required: true
        schema:
          type: string
      x-discovery-path-template: v3/{parent}/flows:import
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudDialogflowCxV3ImportFlowRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects locations agents flows import
      x-summary-source: derived
  /v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}/validationResult:
    get:
      operationId: dialogflow_projects_locations_agents_flows_getValidationResult
      tags:
      - Flows
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+/validationResult$`.'
        required: true
        schema:
          type: string
      - name: locationsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+/validationResult$`.'
        required: true
        schema:
          type: string
      - name: agentsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+/validationResult$`.'
        required: true
        schema:
          type: string
      - name: flowsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+/validationResult$`.'
        required: true
        schema:
          type: string
      - name: languageCode
        in: query
        schema:
          type: string
      x-discovery-path-template: v3/{name}
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowCxV3FlowValidationResult'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects locations agents flows get validation result
      x-summary-source: derived
  /v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}:validate:
    post:
      operationId: dialogflow_projects_locations_agents_flows_validate
      tags:
      - Flows
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: locationsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: agentsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: flowsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+$`.'
        required: true
        schema:
          type: string
      x-discovery-path-template: v3/{name}:validate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudDialogflowCxV3ValidateFlowRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowCxV3FlowValidationResult'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects locations agents flows validate
      x-summary-source: derived
  /v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}:export:
    post:
      operationId: dialogflow_projects_locations_agents_flows_export
      tags:
      - Flows
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: locationsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: agentsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: flowsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+$`.'
        required: true
        schema:
          type: string
      x-discovery-path-template: v3/{name}:export
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudDialogflowCxV3ExportFlowRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects locations agents flows export
      x-summary-source: derived
  /v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}:train:
    post:
      operationId: dialogflow_projects_locations_agents_flows_train
      tags:
      - Flows
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: locationsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: agentsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: flowsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+$`.'
        required: true
        schema:
          type: string
      x-discovery-path-template: v3/{name}:train
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudDialogflowCxV3TrainFlowRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects locations agents flows train
      x-summary-source: derived
components:
  schemas:
    GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCase:
      type: object
      properties:
        caseContent:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCaseCaseContent'
        condition:
          type: string
    GoogleCloudDialogflowCxV3NluSettings:
      type: object
      properties:
        classificationThreshold:
          type: number
          format: float
        modelTrainingMode:
          type: string
          enum:
          - MODEL_TRAINING_MODE_UNSPECIFIED
          - MODEL_TRAINING_MODE_AUTOMATIC
          - MODEL_TRAINING_MODE_MANUAL
          x-enumDescriptions:
          - ''
          - ''
          - ''
        modelType:
          type: string
          enum:
          - MODEL_TYPE_UNSPECIFIED
          - MODEL_TYPE_STANDARD
          - MODEL_TYPE_ADVANCED
          x-enumDescriptions:
          - ''
          - ''
          - ''
    GoogleCloudDialogflowCxV3ResponseMessageMixedAudio:
      type: object
      properties:
        segments:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowCxV3ResponseMessageMixedAudioSegment'
    GoogleCloudDialogflowCxV3FlowValidationResult:
      type: object
      properties:
        updateTime:
          type: string
          format: date-time
        validationMessages:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowCxV3ValidationMessage'
        name:
          type: string
    GoogleCloudDialogflowCxV3FulfillmentGeneratorSettings:
      type: object
      properties:
        generator:
          type: string
        outputParameter:
          type: string
        inputParameters:
          type: object
          additionalProperties:
            type: string
    GoogleCloudDialogflowCxV3InlineSchema:
      type: object
      properties:
        type:
          type: string
          enum:
          - DATA_TYPE_UNSPECIFIED
          - STRING
          - NUMBER
          - BOOLEAN
          - ARRAY
          x-enumDescriptions:
          - ''
          - ''
          - ''
          - ''
          - ''
        items:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3TypeSchema'
    GoogleCloudDialogflowCxV3FulfillmentConditionalCases:
      type: object
      properties:
        cases:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCase'
    GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCaseCaseContent:
      type: object
      properties:
        additionalCases:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3FulfillmentConditionalCases'
        message:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3ResponseMessage'
    GoogleCloudDialogflowCxV3GcsDestination:
      type: object
      properties:
        uri:
          type: string
    GoogleCloudDialogflowCxV3FulfillmentSetParameterAction:
      type: object
      properties:
        parameter:
          type: string
        value: {}
    GoogleCloudDialogflowCxV3AdvancedSettings:
      type: object
      properties:
        speechSettings:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3AdvancedSettingsSpeechSettings'
        audioExportGcsDestination:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3GcsDestination'
        loggingSettings:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3AdvancedSettingsLoggingSettings'
        dtmfSettings:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3AdvancedSettingsDtmfSettings'
    GoogleCloudDialogflowCxV3TypeSchema:
      type: object
      properties:
        inlineSchema:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3InlineSchema'
        schemaReference:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3TypeSchemaSchemaReference'
    GoogleRpcStatus:
      type: object
      properties:
        message:
          type: string
        code:
          type: integer
          format: int32
        details:
          type: array
          items:
            type: object
            additionalProperties:
              description: Properties of the object. Contains field @type with type URL.
    GoogleCloudDialogflowCxV3TransitionRoute:
      type: object
      properties:
        name:
          type: string
          readOnly: true
        targetPage:
          type: string
        description:
          type: string
        triggerFulfillment:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3Fulfillment'
        targetFlow:
          type: string
        intent:
          type: string
        condition:
          type: string
    GoogleCloudDialogflowCxV3ResponseMessageTelephonyTransferCall:
      type: object
      properties:
        phoneNumber:
          type: string
    GoogleCloudDialogflowCxV3ToolCall:
      type: object
      properties:
        inputParameters:
          type: object
          additionalProperties:
            description: Properties of the object.
        action:
          type: string
        tool:
          type: string
    GoogleCloudDialogflowCxV3ResponseMessageText:
      type: object
      properties:
        allowPlaybackInterruption:
          type: boolean
          readOnly: true
        text:
          type: array
          items:
            type: string
    GoogleCloudDialogflowCxV3ParameterDefinition:
      type: object
      properties:
        type:
          type: string
          enum:
          - PARAMETER_TYPE_UNSPECIFIED
          - STRING
          - NUMBER
          - BOOLEAN
          - 'NULL'
          - OBJECT
          - LIST
          x-enumDescriptions:
          - ''
          - ''
          - ''
          - ''
          - ''
          - ''
          - ''
        description:
          type: string
        typeSchema:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3TypeSchema'
        name:
          type: string
    GoogleCloudDialogflowCxV3ResourceName:
      type: object
      properties:
        name:
          type: string
        displayName:
          type: string
    GoogleCloudDialogflowCxV3ExportFlowRequest:
      type: object
      properties:
        flowUri:
          type: string
        includeReferencedFlows:
          type: boolean
    GoogleCloudDialogflowCxV3AdvancedSettingsLoggingSettings:
      type: object
      properties:
        enableConsentBasedRedaction:
          type: boolean
        enableStackdriverLogging:
          type: boolean
        enableInteractionLogging:
          type: boolean
    GoogleCloudDialogflowCxV3ResponseMessagePlayAudio:
      type: object
      properties:
        allowPlaybackInterruption:
          type: boolean
          readOnly: true
        audioUri:
          type: string
    GoogleCloudDialogflowCxV3AdvancedSettingsDtmfSettings:
      type: object
      properties:
        enabled:
          type: boolean
        finishDigit:
          type: string
        interdigitTimeoutDuration:
          type: string
        maxDigits:
          type: integer
          format: int32
        endpointingTimeoutDuration:
          type: string
    GoogleCloudDialogflowCxV3ResponseMessage:
      type: object
      properties:
        outputAudioText:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3ResponseMessageOutputAudioText'
        endInteraction:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3ResponseMessageEndInteraction'
        toolCall:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3ToolCall'
        responseType:
          type: string
          enum:
          - RESPONSE_TYPE_UNSPECIFIED
          - ENTRY_PROMPT
          - PARAMETER_PROMPT
          - HANDLER_PROMPT
          x-enumDescriptions:
          - ''
          - ''
          - ''
          - ''
        text:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3ResponseMessageText'
        channel:
          type: string
        payload:
          type: object
          additionalProperties:
            description: Properties of the object.
        telephonyTransferCall:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3ResponseMessageTelephonyTransferCall'
        mixedAudio:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3ResponseMessageMixedAudio'
        playAudio:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3ResponseMessagePlayAudio'
        conversationSuccess:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3ResponseMessageConversationSuccess'
        knowledgeInfoCard:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3ResponseMessageKnowledgeInfoCard'
        liveAgentHandoff:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3ResponseMessageLiveAgentHandoff'
    GoogleCloudDialogflowCxV3ValidationMessage:
      type: object
      properties:
        resourceNames:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowCxV3ResourceName'
        resources:
          type: array
          items:
            type: string
        detail:
          type: string
        severity:
          type: string
          enum:
          - SEVERITY_UNSPECIFIED
          - INFO
          - WARNING
          - ERROR
          x-enumDescriptions:
          - ''
          - ''
          - ''
          - ''
        resourceType:
          type: string
          enum:
          - RESOURCE_TYPE_UNSPECIFIED
          - AGENT
          - INTENT
          - INTENT_TRAINING_PHRASE
          - INTENT_PARAMETER
          - INTENTS
          - INTENT_TRAINING_PHRASES
          - ENTITY_TYPE
          - ENTITY_TYPES
          - WEBHOOK
          - FLOW
          - PAGE
          - PAGES
          - TRANSITION_ROUTE_GROUP
          - AGENT_TRANSITION_ROUTE_GROUP
          x-enumDescriptions:
          - ''
          - ''
          - ''
          - ''
          - ''
          - ''
          - ''
          - ''
          - ''
          - ''
          - ''
          - ''
          - ''
          - ''
          - ''
    GoogleCloudDialogflowCxV3DataStoreConnection:
      type: object
      properties:
        dataStoreType:
          type: string
          enum:
          - DATA_STORE_TYPE_UNSPECIFIED
          - PUBLIC_WEB
          - UNSTRUCTURED
          - STRUCTURED
          x-enumDescriptions:
          - ''
          - ''
          - ''
          - ''
        dataStore:
          type: string
        documentProcessingMode:
          type: string
          enum:
          - DOCUMENT_PROCESSING_MODE_UNSPECIFIED
          - DOCUMENTS
          - CHUNKS
          x-enumDescriptions:
          - ''
          - ''
          - ''
    GoogleCloudDialogflowCxV3ResponseMessageMixedAudioSegment:
      type: object
      properties:
        audio:
          type: string
          format: byte
        allowPlaybackInterruption:
          type: boolean
          readOnly: true
        uri:
          type: string
    GoogleCloudDialogflowCxV3FlowImportStrategy:
      type: object
      properties:
        globalImportStrategy:
          type: string
          enum:
          - IMPORT_STRATEGY_UNSPECIFIED
          - IMPORT_STRATEGY_CREATE_NEW
          - IMPORT_STRATEGY_REPLACE
          - IMPORT_STRATEGY_KEEP
          - IMPORT_STRATEGY_MERGE
          - IMPORT_STRATEGY_THROW_ERROR
          x-enumDescriptions:
          - ''
          - ''
          - ''
          - ''
          - ''
          - ''
    GoogleCloudDialogflowCxV3ListFlowsResponse:
      type: object
      properties:
        nextPageToken:
          type: string
        flows:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowCxV3Flow'
    GoogleCloudDialogflowCxV3ResponseMessageLiveAgentHandoff:
      type: object
      properties:
        metadata:
          type: object
          additionalProperties:
            description: Properties of the object.
    GoogleCloudDialogflowCxV3ResponseMessageConversationSuccess:
      type: object
      properties:
        metadata:
          type: object
          additionalProperties:
            description: Properties of the object.
    GoogleCloudDialogflowCxV3FlowMultiLanguageSettings:
      type: object
      properties:
        supportedResponseLanguageCodes:
          type: array
          items:
            type: string
        enableMultiLanguageDetection:
          type: boolean
    GoogleCloudDialogflowCxV3TrainFlowRequest:
      type: object
    GoogleCloudDialogflowCxV3ResponseMessageKnowledgeInfoCard:
      type: object
    GoogleCloudDialogflowCxV3ImportFlowRequest:
      type: object
      properties:
        flowContent:
          type: string
          format: byte
        importOption:
          type: string
          enum:
          - IMPORT_OPTION_UNSPECIFIED
          - KEEP
          - FALLBACK
          x-enumDescriptions:
          - ''
          - ''
          - ''
        flowUri:
          type: string
        flowImportStrategy:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3FlowImportStrategy'
    GoogleCloudDialogflowCxV3TypeSchemaSchemaReference:
      type: object
      properties:
        schema:
          type: string
        tool:
          type: string
    GoogleCloudDialogflowCxV3ResponseMessageOutputAudioText:
      type: object
      properties:
        allowPlaybackInterruption:
          type: boolean
          readOnly: true
        ssml:
          type: string
        text:
          type: string
    GoogleLongrunningOperation:
      type: object
      properties:
        metadata:
          type: object
          additionalProperties:
            description: Properties of the object. Contains field @type with type URL.
        name:
          type: string
        done:
          type: boolean
        response:
          type: object
          additionalProperties:
            description: Properties of the object. Contains field @type with type URL.
        error:
          $ref: '#/components/schemas/GoogleRpcStatus'
    GoogleCloudDialogflowCxV3Flow:
      type: object
      properties:
        locked:
          type: boolean
        eventHandlers:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowCxV3EventHandler'
        transitionRoutes:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowCxV3TransitionRoute'
        knowledgeConnectorSettings:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3KnowledgeConnectorSettings'
        inputParameterDefinitions:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowCxV3ParameterDefinition'
        outputParameterDefinitions:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowCxV3ParameterDefinition'
        description:
          type: string
        nluSettings:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3NluSettings'
        displayName:
          type: string
        multiLanguageSettings:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3FlowMultiLanguageSettings'
        advancedSettings:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3AdvancedSettings'
        transitionRouteGroups:
          type: array
          items:
            type: string
        name:
          type: string
    GoogleProtobufEmpty:
      type: object
    GoogleCloudDialogflowCxV3ResponseMessageEndInteraction:
      type: object
    GoogleCloudDialogflowCxV3Fulfillment:
      type: object
      properties:
        setParameterActions:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowCxV3FulfillmentSetParameterAction'
        tag:
          type: string
        messages:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowCxV3ResponseMessage'
        conditionalCases:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowCxV3FulfillmentConditionalCases'
        returnPartialResponses:
          type: boolean
        advancedSettings:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3AdvancedSettings'
        generators:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowCxV3FulfillmentGeneratorSettings'
        enableGenerativeFallback:
          type: boolean
        webhook:
          type: string
        codeBlockFunction:
          type: string
    GoogleCloudDialogflowCxV3EventHandler:
      type: object
      properties:
        targetFlow:
          type: string
        triggerFulfillment:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3Fulfillment'
        targetPlaybook:
          type: string
        name:
          type: string
          readOnly: true
        event:
          type: string
        targetPage:
          type: string
    GoogleCloudDialogflowCxV3KnowledgeConnectorSettings:
      type: object
      properties:
        targetPage:
          type: string
        triggerFulfillment:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3Fulfillment'
        dataStoreConnections:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowCxV3DataStoreConnection'
        targetFlow:
          type: string
        enabled:
          type: boolean
    GoogleCloudDialogflowCxV3ValidateFlowRequest:
      type: object
      properties:
        languageCode:
          type: string
    GoogleCloudDialogflowCxV3AdvancedSettingsSpeechSettings:
      type: object
      properties:
        noSpeechTimeout:
          type: string
        models:
          type: object
          additionalProperties:
            type: string
        useTimeoutBasedEndpointing:
          type: boolean
        endpointerSensitivity:
          type: integer
          format: int32
  securitySchemes:
    OAuth2:
      type: oauth2
      description: Google OAuth 2.0. Scopes are declared per operation in the Discovery Document.
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/v2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/cloud-platform: See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account.
            https://www.googleapis.com/auth/dialogflow: View, manage and query your Dialogflow agents
    BearerAuth:
      type: http
      scheme: bearer
      description: 'Google OAuth 2.0 access token or service-account-minted bearer token, sent as Authorization: Bearer <token>.'
externalDocs:
  description: Dialogflow CX documentation
  url: https://cloud.google.com/dialogflow/cx/docs
