openapi: 3.2.0
info:
  title: Dialogflow ES API (v2) Knowledge Bases API
  version: v2
  description: Dialogflow ES (Essentials) builds conversational interfaces with intents, entity types, contexts, sessions, knowledge bases, conversation profiles and Agent Assist. This OpenAPI is a mechanical conversion of the first-party Google Discovery Document served by dialogflow.googleapis.com.
  contact:
    name: Google Cloud
    url: https://cloud.google.com/dialogflow/
  termsOfService: https://cloud.google.com/terms
  license:
    name: Google APIs Terms of Service
    url: https://developers.google.com/terms
  x-discovery-source: https://dialogflow.googleapis.com/$discovery/rest?version=v2
  x-discovery-revision: '20260825'
  x-discovery-id: dialogflow:v2
servers:
- url: https://dialogflow.googleapis.com
  description: Dialogflow API
security:
- OAuth2:
  - https://www.googleapis.com/auth/dialogflow
  - https://www.googleapis.com/auth/cloud-platform
- BearerAuth: []
tags:
- name: Knowledge Bases
paths:
  /v2/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}:
    delete:
      operationId: dialogflow_projects_knowledgeBases_delete
      tags:
      - Knowledge Bases
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/knowledgeBases/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: knowledgeBasesId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/knowledgeBases/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: force
        in: query
        schema:
          type: boolean
      x-discovery-path-template: v2/{name}
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleProtobufEmpty'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects knowledge bases delete
      x-summary-source: derived
    get:
      operationId: dialogflow_projects_knowledgeBases_get
      tags:
      - Knowledge Bases
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/knowledgeBases/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: knowledgeBasesId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/knowledgeBases/[^/]+$`.'
        required: true
        schema:
          type: string
      x-discovery-path-template: v2/{name}
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowV2KnowledgeBase'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects knowledge bases get
      x-summary-source: derived
    patch:
      operationId: dialogflow_projects_knowledgeBases_patch
      tags:
      - Knowledge Bases
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/knowledgeBases/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: knowledgeBasesId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/knowledgeBases/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: updateMask
        in: query
        schema:
          type: string
      x-discovery-path-template: v2/{name}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudDialogflowV2KnowledgeBase'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowV2KnowledgeBase'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects knowledge bases patch
      x-summary-source: derived
  /v2/projects/{projectsId}/knowledgeBases:
    post:
      operationId: dialogflow_projects_knowledgeBases_create
      tags:
      - Knowledge Bases
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `parent`. Resource name pattern: `^projects/[^/]+$`.'
        required: true
        schema:
          type: string
      x-discovery-path-template: v2/{parent}/knowledgeBases
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudDialogflowV2KnowledgeBase'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowV2KnowledgeBase'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects knowledge bases create
      x-summary-source: derived
    get:
      operationId: dialogflow_projects_knowledgeBases_list
      tags:
      - Knowledge Bases
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `parent`. Resource name pattern: `^projects/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: string
      - name: pageToken
        in: query
        schema:
          type: string
      - name: pageSize
        in: query
        schema:
          type: integer
          format: int32
      x-discovery-path-template: v2/{parent}/knowledgeBases
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowV2ListKnowledgeBasesResponse'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects knowledge bases list
      x-summary-source: derived
  /v2/projects/{projectsId}/locations/{locationsId}/knowledgeBases/{knowledgeBasesId}:
    delete:
      operationId: dialogflow_projects_locations_knowledgeBases_delete
      tags:
      - Knowledge Bases
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/knowledgeBases/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: locationsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/knowledgeBases/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: knowledgeBasesId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/knowledgeBases/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: force
        in: query
        schema:
          type: boolean
      x-discovery-path-template: v2/{name}
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleProtobufEmpty'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects locations knowledge bases delete
      x-summary-source: derived
    get:
      operationId: dialogflow_projects_locations_knowledgeBases_get
      tags:
      - Knowledge Bases
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/knowledgeBases/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: locationsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/knowledgeBases/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: knowledgeBasesId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/knowledgeBases/[^/]+$`.'
        required: true
        schema:
          type: string
      x-discovery-path-template: v2/{name}
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowV2KnowledgeBase'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects locations knowledge bases get
      x-summary-source: derived
    patch:
      operationId: dialogflow_projects_locations_knowledgeBases_patch
      tags:
      - Knowledge Bases
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/knowledgeBases/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: locationsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/knowledgeBases/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: knowledgeBasesId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/knowledgeBases/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: updateMask
        in: query
        schema:
          type: string
      x-discovery-path-template: v2/{name}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudDialogflowV2KnowledgeBase'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowV2KnowledgeBase'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects locations knowledge bases patch
      x-summary-source: derived
  /v2/projects/{projectsId}/locations/{locationsId}/knowledgeBases:
    post:
      operationId: dialogflow_projects_locations_knowledgeBases_create
      tags:
      - Knowledge Bases
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `parent`. Resource name pattern: `^projects/[^/]+/locations/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: locationsId
        in: path
        description: 'Part of `parent`. Resource name pattern: `^projects/[^/]+/locations/[^/]+$`.'
        required: true
        schema:
          type: string
      x-discovery-path-template: v2/{parent}/knowledgeBases
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudDialogflowV2KnowledgeBase'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowV2KnowledgeBase'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects locations knowledge bases create
      x-summary-source: derived
    get:
      operationId: dialogflow_projects_locations_knowledgeBases_list
      tags:
      - Knowledge Bases
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `parent`. Resource name pattern: `^projects/[^/]+/locations/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: locationsId
        in: path
        description: 'Part of `parent`. Resource name pattern: `^projects/[^/]+/locations/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        schema:
          type: integer
          format: int32
      - name: pageToken
        in: query
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: string
      x-discovery-path-template: v2/{parent}/knowledgeBases
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowV2ListKnowledgeBasesResponse'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects locations knowledge bases list
      x-summary-source: derived
  /v2/projects/{projectsId}/agent/knowledgeBases/{knowledgeBasesId}:
    delete:
      operationId: dialogflow_projects_agent_knowledgeBases_delete
      tags:
      - Knowledge Bases
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/agent/knowledgeBases/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: knowledgeBasesId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/agent/knowledgeBases/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: force
        in: query
        schema:
          type: boolean
      x-discovery-path-template: v2/{name}
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleProtobufEmpty'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects agent knowledge bases delete
      x-summary-source: derived
    patch:
      operationId: dialogflow_projects_agent_knowledgeBases_patch
      tags:
      - Knowledge Bases
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/agent/knowledgeBases/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: knowledgeBasesId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/agent/knowledgeBases/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: updateMask
        in: query
        schema:
          type: string
      x-discovery-path-template: v2/{name}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudDialogflowV2KnowledgeBase'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowV2KnowledgeBase'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects agent knowledge bases patch
      x-summary-source: derived
    get:
      operationId: dialogflow_projects_agent_knowledgeBases_get
      tags:
      - Knowledge Bases
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/agent/knowledgeBases/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: knowledgeBasesId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/agent/knowledgeBases/[^/]+$`.'
        required: true
        schema:
          type: string
      x-discovery-path-template: v2/{name}
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowV2KnowledgeBase'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects agent knowledge bases get
      x-summary-source: derived
  /v2/projects/{projectsId}/agent/knowledgeBases:
    post:
      operationId: dialogflow_projects_agent_knowledgeBases_create
      tags:
      - Knowledge Bases
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `parent`. Resource name pattern: `^projects/[^/]+/agent$`.'
        required: true
        schema:
          type: string
      x-discovery-path-template: v2/{parent}/knowledgeBases
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudDialogflowV2KnowledgeBase'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowV2KnowledgeBase'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects agent knowledge bases create
      x-summary-source: derived
    get:
      operationId: dialogflow_projects_agent_knowledgeBases_list
      tags:
      - Knowledge Bases
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `parent`. Resource name pattern: `^projects/[^/]+/agent$`.'
        required: true
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: string
      - name: pageSize
        in: query
        schema:
          type: integer
          format: int32
      - name: pageToken
        in: query
        schema:
          type: string
      x-discovery-path-template: v2/{parent}/knowledgeBases
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowV2ListKnowledgeBasesResponse'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects agent knowledge bases list
      x-summary-source: derived
components:
  schemas:
    GoogleRpcStatus:
      type: object
      properties:
        message:
          type: string
        code:
          type: integer
          format: int32
        details:
          type: array
          items:
            type: object
            additionalProperties:
              description: Properties of the object. Contains field @type with type URL.
    GoogleCloudDialogflowV2ListKnowledgeBasesResponse:
      type: object
      properties:
        knowledgeBases:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowV2KnowledgeBase'
        nextPageToken:
          type: string
    GoogleProtobufEmpty:
      type: object
    GoogleCloudDialogflowV2KnowledgeBase:
      type: object
      properties:
        name:
          type: string
        languageCode:
          type: string
        displayName:
          type: string
  securitySchemes:
    OAuth2:
      type: oauth2
      description: Google OAuth 2.0. Scopes are declared per operation in the Discovery Document.
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/v2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/dialogflow: View, manage and query your Dialogflow agents
            https://www.googleapis.com/auth/cloud-platform: See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account.
    BearerAuth:
      type: http
      scheme: bearer
      description: 'Google OAuth 2.0 access token or service-account-minted bearer token, sent as Authorization: Bearer <token>.'
externalDocs:
  description: Dialogflow ES documentation
  url: https://cloud.google.com/dialogflow/es/docs
