openapi: 3.2.0
info:
  title: Google Dialogflow Locations API
  contact:
    name: Google Cloud
    url: https://cloud.google.com/dialogflow/
  license:
    name: Google APIs Terms of Service
    url: https://developers.google.com/terms
  termsOfService: https://cloud.google.com/terms
  x-refined-note:
  - x-discovery-id differs across the merged source definitions and was not carried
  - x-discovery-source differs across the merged source definitions and was not carried
  x-discovery-revision: '20260825'
  version: '1.0'
  description: 'Operations tagged locations across 2 of this provider''s published API definitions: google-dialogflow-cx-v3-openapi.yml, google-dialogflow-es-v2-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://dialogflow.googleapis.com
  description: Dialogflow API
tags:
- name: Locations
paths:
  /v3/projects/{projectsId}/locations:
    get:
      operationId: dialogflow_projects_locations_list
      tags:
      - Locations
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: extraLocationTypes
        in: query
        schema:
          type: array
          items:
            type: string
      - name: filter
        in: query
        schema:
          type: string
      - name: pageSize
        in: query
        schema:
          type: integer
          format: int32
      - name: pageToken
        in: query
        schema:
          type: string
      x-discovery-path-template: v3/{name}/locations
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudLocationListLocationsResponse'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects locations list
      x-summary-source: derived
    servers:
    - url: https://dialogflow.googleapis.com
      description: Dialogflow API
  /v3/projects/{projectsId}/locations/{locationsId}:
    get:
      operationId: dialogflow_projects_locations_get
      tags:
      - Locations
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: locationsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+$`.'
        required: true
        schema:
          type: string
      x-discovery-path-template: v3/{name}
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudLocationLocation'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects locations get
      x-summary-source: derived
    servers:
    - url: https://dialogflow.googleapis.com
      description: Dialogflow API
  /v2/projects/{projectsId}/locations/{locationsId}:
    get:
      operationId: dialogflow_projects_locations_get
      tags:
      - Locations
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: locationsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+$`.'
        required: true
        schema:
          type: string
      x-discovery-path-template: v2/{name}
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudLocationLocation'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects locations get
      x-summary-source: derived
    servers:
    - url: https://dialogflow.googleapis.com
      description: Dialogflow API
  /v2/projects/{projectsId}/locations/{locationsId}/agent:
    get:
      operationId: dialogflow_projects_locations_getAgent
      tags:
      - Locations
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `parent`. Resource name pattern: `^projects/[^/]+/locations/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: locationsId
        in: path
        description: 'Part of `parent`. Resource name pattern: `^projects/[^/]+/locations/[^/]+$`.'
        required: true
        schema:
          type: string
      x-discovery-path-template: v2/{parent}/agent
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowV2Agent'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects locations get agent
      x-summary-source: derived
    post:
      operationId: dialogflow_projects_locations_setAgent
      tags:
      - Locations
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `parent`. Resource name pattern: `^projects/[^/]+/locations/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: locationsId
        in: path
        description: 'Part of `parent`. Resource name pattern: `^projects/[^/]+/locations/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: updateMask
        in: query
        schema:
          type: string
      x-discovery-path-template: v2/{parent}/agent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudDialogflowV2Agent'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowV2Agent'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects locations set agent
      x-summary-source: derived
    delete:
      operationId: dialogflow_projects_locations_deleteAgent
      tags:
      - Locations
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `parent`. Resource name pattern: `^projects/[^/]+/locations/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: locationsId
        in: path
        description: 'Part of `parent`. Resource name pattern: `^projects/[^/]+/locations/[^/]+$`.'
        required: true
        schema:
          type: string
      x-discovery-path-template: v2/{parent}/agent
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleProtobufEmpty'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects locations delete agent
      x-summary-source: derived
    servers:
    - url: https://dialogflow.googleapis.com
      description: Dialogflow API
  /v2/projects/{projectsId}/locations/{locationsId}/encryptionSpec:
    get:
      operationId: dialogflow_projects_locations_getEncryptionSpec
      tags:
      - Locations
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/encryptionSpec$`.'
        required: true
        schema:
          type: string
      - name: locationsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/encryptionSpec$`.'
        required: true
        schema:
          type: string
      x-discovery-path-template: v2/{name}
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowV2EncryptionSpec'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects locations get encryption spec
      x-summary-source: derived
    servers:
    - url: https://dialogflow.googleapis.com
      description: Dialogflow API
  /v2/projects/{projectsId}/locations:
    get:
      operationId: dialogflow_projects_locations_list
      tags:
      - Locations
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: pageToken
        in: query
        schema:
          type: string
      - name: extraLocationTypes
        in: query
        schema:
          type: array
          items:
            type: string
      - name: filter
        in: query
        schema:
          type: string
      - name: pageSize
        in: query
        schema:
          type: integer
          format: int32
      x-discovery-path-template: v2/{name}/locations
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudLocationListLocationsResponse'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects locations list
      x-summary-source: derived
    servers:
    - url: https://dialogflow.googleapis.com
      description: Dialogflow API
components:
  schemas:
    GoogleRpcStatus:
      type: object
      properties:
        message:
          type: string
        code:
          type: integer
          format: int32
        details:
          type: array
          items:
            type: object
            additionalProperties:
              description: Properties of the object. Contains field @type with type URL.
    GoogleCloudLocationListLocationsResponse:
      type: object
      properties:
        locations:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudLocationLocation'
        nextPageToken:
          type: string
    GoogleCloudLocationLocation:
      type: object
      properties:
        labels:
          type: object
          additionalProperties:
            type: string
        name:
          type: string
        displayName:
          type: string
        metadata:
          type: object
          additionalProperties:
            description: Properties of the object. Contains field @type with type URL.
        locationId:
          type: string
    GoogleProtobufEmpty:
      type: object
    GoogleCloudDialogflowV2Agent:
      type: object
      properties:
        timeZone:
          type: string
        defaultLanguageCode:
          type: string
        tier:
          type: string
          enum:
          - TIER_UNSPECIFIED
          - TIER_STANDARD
          - TIER_ENTERPRISE
          - TIER_ENTERPRISE_PLUS
          x-enumDescriptions:
          - ''
          - ''
          - ''
          - ''
        apiVersion:
          type: string
          enum:
          - API_VERSION_UNSPECIFIED
          - API_VERSION_V1
          - API_VERSION_V2
          - API_VERSION_V2_BETA_1
          x-enumDescriptions:
          - ''
          - ''
          - ''
          - ''
        parent:
          type: string
        matchMode:
          type: string
          enum:
          - MATCH_MODE_UNSPECIFIED
          - MATCH_MODE_HYBRID
          - MATCH_MODE_ML_ONLY
          x-enumDescriptions:
          - ''
          - ''
          - ''
        supportedLanguageCodes:
          type: array
          items:
            type: string
        avatarUri:
          type: string
        description:
          type: string
        displayName:
          type: string
        classificationThreshold:
          type: number
          format: float
        enableLogging:
          type: boolean
    GoogleCloudDialogflowV2EncryptionSpec:
      type: object
      properties:
        name:
          type: string
        kmsKey:
          type: string
  securitySchemes:
    OAuth2:
      type: oauth2
      description: Google OAuth 2.0. Scopes are declared per operation in the Discovery Document.
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/v2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/cloud-platform: See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account.
            https://www.googleapis.com/auth/dialogflow: View, manage and query your Dialogflow agents
    BearerAuth:
      type: http
      scheme: bearer
      description: 'Google OAuth 2.0 access token or service-account-minted bearer token, sent as Authorization: Bearer <token>.'
x-refined-from:
- google-dialogflow-cx-v3-openapi.yml
- google-dialogflow-es-v2-openapi.yml
