openapi: 3.2.0
info:
  title: Dialogflow ES API (v2) Messages API
  version: v2
  description: Dialogflow ES (Essentials) builds conversational interfaces with intents, entity types, contexts, sessions, knowledge bases, conversation profiles and Agent Assist. This OpenAPI is a mechanical conversion of the first-party Google Discovery Document served by dialogflow.googleapis.com.
  contact:
    name: Google Cloud
    url: https://cloud.google.com/dialogflow/
  termsOfService: https://cloud.google.com/terms
  license:
    name: Google APIs Terms of Service
    url: https://developers.google.com/terms
  x-discovery-source: https://dialogflow.googleapis.com/$discovery/rest?version=v2
  x-discovery-revision: '20260825'
  x-discovery-id: dialogflow:v2
servers:
- url: https://dialogflow.googleapis.com
  description: Dialogflow API
security:
- OAuth2:
  - https://www.googleapis.com/auth/dialogflow
  - https://www.googleapis.com/auth/cloud-platform
- BearerAuth: []
tags:
- name: Messages
paths:
  /v2/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/messages:
    get:
      operationId: dialogflow_projects_locations_conversations_messages_list
      tags:
      - Messages
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `parent`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/conversations/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: locationsId
        in: path
        description: 'Part of `parent`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/conversations/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: conversationsId
        in: path
        description: 'Part of `parent`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/conversations/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: pageToken
        in: query
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: string
      - name: pageSize
        in: query
        schema:
          type: integer
          format: int32
      x-discovery-path-template: v2/{parent}/messages
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowV2ListMessagesResponse'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects locations conversations messages list
      x-summary-source: derived
  /v2/projects/{projectsId}/conversations/{conversationsId}/messages:
    get:
      operationId: dialogflow_projects_conversations_messages_list
      tags:
      - Messages
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `parent`. Resource name pattern: `^projects/[^/]+/conversations/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: conversationsId
        in: path
        description: 'Part of `parent`. Resource name pattern: `^projects/[^/]+/conversations/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        schema:
          type: integer
          format: int32
      - name: pageToken
        in: query
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: string
      x-discovery-path-template: v2/{parent}/messages
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowV2ListMessagesResponse'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects conversations messages list
      x-summary-source: derived
components:
  schemas:
    GoogleRpcStatus:
      type: object
      properties:
        message:
          type: string
        code:
          type: integer
          format: int32
        details:
          type: array
          items:
            type: object
            additionalProperties:
              description: Properties of the object. Contains field @type with type URL.
    GoogleCloudDialogflowV2Sentiment:
      type: object
      properties:
        magnitude:
          type: number
          format: float
        score:
          type: number
          format: float
    GoogleCloudDialogflowV2Message:
      type: object
      properties:
        createTime:
          type: string
          format: date-time
          readOnly: true
        participant:
          type: string
          readOnly: true
        sendTime:
          type: string
          format: date-time
        sentimentAnalysis:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2SentimentAnalysisResult'
        name:
          type: string
        participantRole:
          type: string
          enum:
          - ROLE_UNSPECIFIED
          - HUMAN_AGENT
          - AUTOMATED_AGENT
          - END_USER
          x-enumDescriptions:
          - ''
          - ''
          - ''
          - ''
          readOnly: true
        messageAnnotation:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2MessageAnnotation'
        content:
          type: string
        languageCode:
          type: string
    GoogleCloudDialogflowV2AnnotatedMessagePart:
      type: object
      properties:
        entityType:
          type: string
        formattedValue: {}
        text:
          type: string
    GoogleCloudDialogflowV2MessageAnnotation:
      type: object
      properties:
        parts:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowV2AnnotatedMessagePart'
        containEntities:
          type: boolean
    GoogleCloudDialogflowV2SentimentAnalysisResult:
      type: object
      properties:
        queryTextSentiment:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2Sentiment'
    GoogleCloudDialogflowV2ListMessagesResponse:
      type: object
      properties:
        messages:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowV2Message'
        nextPageToken:
          type: string
  securitySchemes:
    OAuth2:
      type: oauth2
      description: Google OAuth 2.0. Scopes are declared per operation in the Discovery Document.
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/v2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/dialogflow: View, manage and query your Dialogflow agents
            https://www.googleapis.com/auth/cloud-platform: See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account.
    BearerAuth:
      type: http
      scheme: bearer
      description: 'Google OAuth 2.0 access token or service-account-minted bearer token, sent as Authorization: Bearer <token>.'
externalDocs:
  description: Dialogflow ES documentation
  url: https://cloud.google.com/dialogflow/es/docs
