openapi: 3.2.0
info:
  title: Dialogflow ES API (v2) Answer Records API
  version: v2
  description: Dialogflow ES (Essentials) builds conversational interfaces with intents, entity types, contexts, sessions, knowledge bases, conversation profiles and Agent Assist. This OpenAPI is a mechanical conversion of the first-party Google Discovery Document served by dialogflow.googleapis.com.
  contact:
    name: Google Cloud
    url: https://cloud.google.com/dialogflow/
  termsOfService: https://cloud.google.com/terms
  license:
    name: Google APIs Terms of Service
    url: https://developers.google.com/terms
  x-discovery-source: https://dialogflow.googleapis.com/$discovery/rest?version=v2
  x-discovery-revision: '20260825'
  x-discovery-id: dialogflow:v2
servers:
- url: https://dialogflow.googleapis.com
  description: Dialogflow API
security:
- OAuth2:
  - https://www.googleapis.com/auth/dialogflow
  - https://www.googleapis.com/auth/cloud-platform
- BearerAuth: []
tags:
- name: answerRecords
paths:
  /v2/projects/{projectsId}/locations/{locationsId}/answerRecords:
    get:
      operationId: dialogflow_projects_locations_answerRecords_list
      tags:
      - answerRecords
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `parent`. Resource name pattern: `^projects/[^/]+/locations/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: locationsId
        in: path
        description: 'Part of `parent`. Resource name pattern: `^projects/[^/]+/locations/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: string
      - name: pageSize
        in: query
        schema:
          type: integer
          format: int32
      - name: pageToken
        in: query
        schema:
          type: string
      x-discovery-path-template: v2/{parent}/answerRecords
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowV2ListAnswerRecordsResponse'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects locations answer records list
      x-summary-source: derived
  /v2/projects/{projectsId}/locations/{locationsId}/answerRecords/{answerRecordsId}:
    patch:
      operationId: dialogflow_projects_locations_answerRecords_patch
      tags:
      - answerRecords
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/answerRecords/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: locationsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/answerRecords/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: answerRecordsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/locations/[^/]+/answerRecords/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: updateMask
        in: query
        schema:
          type: string
      x-discovery-path-template: v2/{name}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudDialogflowV2AnswerRecord'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowV2AnswerRecord'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects locations answer records patch
      x-summary-source: derived
  /v2/projects/{projectsId}/answerRecords:
    get:
      operationId: dialogflow_projects_answerRecords_list
      tags:
      - answerRecords
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `parent`. Resource name pattern: `^projects/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        schema:
          type: integer
          format: int32
      - name: filter
        in: query
        schema:
          type: string
      - name: pageToken
        in: query
        schema:
          type: string
      x-discovery-path-template: v2/{parent}/answerRecords
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowV2ListAnswerRecordsResponse'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects answer records list
      x-summary-source: derived
  /v2/projects/{projectsId}/answerRecords/{answerRecordsId}:
    patch:
      operationId: dialogflow_projects_answerRecords_patch
      tags:
      - answerRecords
      parameters:
      - name: projectsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/answerRecords/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: answerRecordsId
        in: path
        description: 'Part of `name`. Resource name pattern: `^projects/[^/]+/answerRecords/[^/]+$`.'
        required: true
        schema:
          type: string
      - name: updateMask
        in: query
        schema:
          type: string
      x-discovery-path-template: v2/{name}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudDialogflowV2AnswerRecord'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowV2AnswerRecord'
        default:
          description: Error response (google.rpc.Status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleRpcStatus'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/dialogflow
      - BearerAuth: []
      summary: Dialogflow projects answer records patch
      x-summary-source: derived
components:
  schemas:
    GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResult:
      type: object
      properties:
        duplicateSuggestions:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion'
    GoogleCloudDialogflowV2Intent:
      type: object
      properties:
        outputContexts:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowV2Context'
        defaultResponsePlatforms:
          type: array
          items:
            type: string
            enum:
            - PLATFORM_UNSPECIFIED
            - FACEBOOK
            - SLACK
            - TELEGRAM
            - KIK
            - SKYPE
            - LINE
            - VIBER
            - ACTIONS_ON_GOOGLE
            - GOOGLE_HANGOUTS
            x-enumDescriptions:
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
        inputContextNames:
          type: array
          items:
            type: string
        rootFollowupIntentName:
          type: string
          readOnly: true
        action:
          type: string
        messages:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowV2IntentMessage'
        priority:
          type: integer
          format: int32
        mlDisabled:
          type: boolean
        parentFollowupIntentName:
          type: string
        displayName:
          type: string
        isFallback:
          type: boolean
        parameters:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowV2IntentParameter'
        webhookState:
          type: string
          enum:
          - WEBHOOK_STATE_UNSPECIFIED
          - WEBHOOK_STATE_ENABLED
          - WEBHOOK_STATE_ENABLED_FOR_SLOT_FILLING
          x-enumDescriptions:
          - ''
          - ''
          - ''
        events:
          type: array
          items:
            type: string
        trainingPhrases:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowV2IntentTrainingPhrase'
        endInteraction:
          type: boolean
        name:
          type: string
        resetContexts:
          type: boolean
        followupIntentInfo:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowV2IntentFollowupIntentInfo'
        liveAgentHandoff:
          type: boolean
    GoogleCloudDialogflowV2IntentMessageListSelect:
      type: object
      properties:
        title:
          type: string
        items:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowV2IntentMessageListSelectItem'
        subtitle:
          type: string
    GoogleCloudDialogflowV2SummarySuggestionSummarySection:
      type: object
      properties:
        section:
          type: string
        summary:
          type: string
    GoogleCloudDialogflowV2AgentAssistantFeedbackSummarizationFeedback:
      type: object
      properties:
        submitTime:
          type: string
          format: date-time
        startTime:
          type: string
          format: date-time
        summaryText:
          type: string
        textSections:
          type: object
          additionalProperties:
            type: string
    GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion:
      type: object
      properties:
        answerRecord:
          type: string
          readOnly: true
        similarityScore:
          type: number
          format: float
          readOnly: true
        suggestionIndex:
          type: integer
          format: int32
          readOnly: true
        sources:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2AgentCoachingSuggestionSources'
    GoogleCloudDialogflowV2IntentMessageQuickReplies:
      type: object
      properties:
        quickReplies:
          type: array
          items:
            type: string
        title:
          type: string
    GoogleCloudDialogflowV2AgentCoachingSuggestion:
      type: object
      properties:
        agentActionSuggestions:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowV2AgentCoachingSuggestionAgentActionSuggestion'
        sampleResponses:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowV2AgentCoachingSuggestionSampleResponse'
        applicableInstructions:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowV2AgentCoachingInstruction'
    GoogleCloudDialogflowV2SentimentAnalysisResult:
      type: object
      properties:
        queryTextSentiment:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2Sentiment'
    GoogleCloudDialogflowV2Context:
      type: object
      properties:
        parameters:
          type: object
          additionalProperties:
            description: Properties of the object.
        name:
          type: string
        lifespanCount:
          type: integer
          format: int32
    GoogleCloudDialogflowV2IntentMessageBrowseCarouselCard:
      type: object
      properties:
        imageDisplayOptions:
          type: string
          enum:
          - IMAGE_DISPLAY_OPTIONS_UNSPECIFIED
          - GRAY
          - WHITE
          - CROPPED
          - BLURRED_BACKGROUND
          x-enumDescriptions:
          - ''
          - ''
          - ''
          - ''
          - ''
        items:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItem'
    GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction:
      type: object
      properties:
        urlTypeHint:
          type: string
          enum:
          - URL_TYPE_HINT_UNSPECIFIED
          - AMP_ACTION
          - AMP_CONTENT
          x-enumDescriptions:
          - ''
          - ''
          - ''
        url:
          type: string
    GoogleCloudDialogflowV2IntentMessageListSelectItem:
      type: object
      properties:
        info:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2IntentMessageSelectItemInfo'
        image:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2IntentMessageImage'
        description:
          type: string
        title:
          type: string
    GoogleCloudDialogflowV2AgentCoachingSuggestionAgentActionSuggestion:
      type: object
      properties:
        agentAction:
          type: string
        duplicateCheckResult:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResult'
        sources:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2AgentCoachingSuggestionSources'
    GoogleCloudDialogflowV2IntentTrainingPhrase:
      type: object
      properties:
        name:
          type: string
          readOnly: true
        type:
          type: string
          enum:
          - TYPE_UNSPECIFIED
          - EXAMPLE
          - TEMPLATE
          x-enumDescriptions:
          - ''
          - ''
          - ''
        timesAddedCount:
          type: integer
          format: int32
        parts:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowV2IntentTrainingPhrasePart'
    GoogleCloudDialogflowV2IntentMessageSimpleResponses:
      type: object
      properties:
        simpleResponses:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowV2IntentMessageSimpleResponse'
    GoogleCloudDialogflowV2AgentCoachingSuggestionSampleResponse:
      type: object
      properties:
        duplicateCheckResult:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResult'
        sources:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2AgentCoachingSuggestionSources'
        responseText:
          type: string
    GoogleCloudDialogflowV2ToolCall:
      type: object
      properties:
        action:
          type: string
        createTime:
          type: string
          format: date-time
          readOnly: true
        cesApp:
          type: string
        cesToolset:
          type: string
        answerRecord:
          type: string
        toolDisplayDetails:
          type: string
        inputParameters:
          type: object
          additionalProperties:
            description: Properties of the object.
        tool:
          type: string
        toolDisplayName:
          type: string
        state:
          type: string
          enum:
          - STATE_UNSPECIFIED
          - TRIGGERED
          - NEEDS_CONFIRMATION
          x-enumDescriptions:
          - ''
          - ''
          - ''
          readOnly: true
        cesTool:
          type: string
    GoogleCloudDialogflowV2IntentMessageCarouselSelect:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowV2IntentMessageCarouselSelectItem'
    GoogleCloudDialogflowV2AgentAssistantFeedbackKnowledgeAssistFeedback:
      type: object
      properties:
        answerCopied:
          type: boolean
        clickedUris:
          type: array
          items:
            type: string
    GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItem:
      type: object
      properties:
        description:
          type: string
        footer:
          type: string
        image:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2IntentMessageImage'
        openUriAction:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction'
        title:
          type: string
    GoogleCloudDialogflowV2IntentMessageSelectItemInfo:
      type: object
      properties:
        key:
          type: string
        synonyms:
          type: array
          items:
            type: string
    GoogleCloudDialogflowV2ToolCallResultError:
      type: object
      properties:
        retryable:
          type: boolean
        message:
          type: string
    GoogleCloudDialogflowV2ListAnswerRecordsResponse:
      type: object
      properties:
        nextPageToken:
          type: string
        answerRecords:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowV2AnswerRecord'
    GoogleCloudDialogflowV2QueryResult:
      type: object
      properties:
        intentDetectionConfidence:
          type: number
          format: float
        webhookSource:
          type: string
        action:
          type: string
        webhookPayload:
          type: object
          additionalProperties:
            description: Properties of the object.
        queryText:
          type: string
        outputContexts:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowV2Context'
        sentimentAnalysisResult:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2SentimentAnalysisResult'
        parameters:
          type: object
          additionalProperties:
            description: Properties of the object.
        speechRecognitionConfidence:
          type: number
          format: float
        intent:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2Intent'
        allRequiredParamsPresent:
          type: boolean
        languageCode:
          type: string
        fulfillmentMessages:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowV2IntentMessage'
        fulfillmentText:
          type: string
        diagnosticInfo:
          type: object
          additionalProperties:
            description: Properties of the object.
        cancelsSlotFilling:
          type: boolean
    GoogleRpcStatus:
      type: object
      properties:
        message:
          type: string
        code:
          type: integer
          format: int32
        details:
          type: array
          items:
            type: object
            additionalProperties:
              description: Properties of the object. Contains field @type with type URL.
    GoogleCloudDialogflowV2IntentMessageCard:
      type: object
      properties:
        imageUri:
          type: string
        title:
          type: string
        buttons:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowV2IntentMessageCardButton'
        subtitle:
          type: string
    GoogleCloudDialogflowV2IntentFollowupIntentInfo:
      type: object
      properties:
        parentFollowupIntentName:
          type: string
        followupIntentName:
          type: string
    GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResult:
      type: object
      properties:
        duplicateSuggestions:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion'
    GoogleCloudDialogflowV2FreeFormSuggestion:
      type: object
      properties:
        response:
          type: string
    GoogleCloudDialogflowV2IntentMessageBasicCardButton:
      type: object
      properties:
        openUriAction:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2IntentMessageBasicCardButtonOpenUriAction'
        title:
          type: string
    GoogleCloudDialogflowV2IntentMessageTableCardRow:
      type: object
      properties:
        cells:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowV2IntentMessageTableCardCell'
        dividerAfter:
          type: boolean
    GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion:
      type: object
      properties:
        similarityScore:
          type: number
          format: float
          readOnly: true
        answerRecord:
          type: string
          readOnly: true
        suggestionIndex:
          type: integer
          format: int32
          readOnly: true
    GoogleCloudDialogflowV2IntentMessageBasicCard:
      type: object
      properties:
        image:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2IntentMessageImage'
        title:
          type: string
        formattedText:
          type: string
        subtitle:
          type: string
        buttons:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowV2IntentMessageBasicCardButton'
    GoogleCloudDialogflowV2IntentSuggestion:
      type: object
      properties:
        displayName:
          type: string
        description:
          type: string
        intentV2:
          type: string
    GoogleCloudDialogflowV2IntentMessageMediaContent:
      type: object
      properties:
        mediaObjects:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowV2IntentMessageMediaContentResponseMediaObject'
        mediaType:
          type: string
          enum:
          - RESPONSE_MEDIA_TYPE_UNSPECIFIED
          - AUDIO
          x-enumDescriptions:
          - ''
          - ''
    GoogleCloudDialogflowV2IntentTrainingPhrasePart:
      type: object
      properties:
        text:
          type: string
        userDefined:
          type: boolean
        entityType:
          type: string
        alias:
          type: string
    GoogleCloudDialogflowV2IntentMessageTableCard:
      type: object
      properties:
        buttons:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowV2IntentMessageBasicCardButton'
        image:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2IntentMessageImage'
        columnProperties:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowV2IntentMessageColumnProperties'
        title:
          type: string
        rows:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowV2IntentMessageTableCardRow'
        subtitle:
          type: string
    GoogleCloudDialogflowV2AgentCoachingInstruction:
      type: object
      properties:
        duplicateCheckResult:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResult'
        displayName:
          type: string
        agentAction:
          type: string
        systemAction:
          type: string
        displayDetails:
          type: string
        condition:
          type: string
        triggeringEvent:
          type: string
          enum:
          - TRIGGER_EVENT_UNSPECIFIED
          - END_OF_UTTERANCE
          - MANUAL_CALL
          - CUSTOMER_MESSAGE
          - AGENT_MESSAGE
          - TOOL_CALL_COMPLETION
          x-enumDescriptions:
          - ''
          - ''
          - ''
          - ''
          - ''
          - ''
    GoogleCloudDialogflowV2AgentAssistantFeedback:
      type: object
      properties:
        documentCorrectness:
          type: string
          enum:
          - DOCUMENT_CORRECTNESS_UNSPECIFIED
          - INCORRECT
          - CORRECT
          x-enumDescriptions:
          - ''
          - ''
          - ''
        knowledgeSearchFeedback:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2AgentAssistantFeedbackKnowledgeSearchFeedback'
        summarizationFeedback:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2AgentAssistantFeedbackSummarizationFeedback'
        knowledgeAssistFeedback:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2AgentAssistantFeedbackKnowledgeAssistFeedback'
        documentEfficiency:
          type: string
          enum:
          - DOCUMENT_EFFICIENCY_UNSPECIFIED
          - INEFFICIENT
          - EFFICIENT
          x-enumDescriptions:
          - ''
          - ''
          - ''
        answerRelevance:
          type: string
          enum:
          - ANSWER_RELEVANCE_UNSPECIFIED
          - IRRELEVANT
          - RELEVANT
          x-enumDescriptions:
          - ''
          - ''
          - ''
    GoogleCloudDialogflowV2IntentMessageMediaContentResponseMediaObject:
      type: object
      properties:
        description:
          type: string
        icon:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2IntentMessageImage'
        contentUrl:
          type: string
        largeImage:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2IntentMessageImage'
        name:
          type: string
    GoogleCloudDialogflowV2GeneratorSuggestion:
      type: object
      properties:
        freeFormSuggestion:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2FreeFormSuggestion'
        summarySuggestion:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2SummarySuggestion'
        toolCallInfo:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowV2GeneratorSuggestionToolCallInfo'
        agentCoachingSuggestion:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2AgentCoachingSuggestion'
    GoogleCloudDialogflowV2AgentAssistantFeedbackKnowledgeSearchFeedback:
      type: object
      properties:
        answerCopied:
          type: boolean
        clickedUris:
          type: array
          items:
            type: string
    GoogleCloudDialogflowV2IntentMessageLinkOutSuggestion:
      type: object
      properties:
        uri:
          type: string
        destinationName:
          type: string
    GoogleCloudDialogflowV2IntentMessage:
      type: object
      properties:
        linkOutSuggestion:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2IntentMessageLinkOutSuggestion'
        payload:
          type: object
          additionalProperties:
            description: Properties of the object.
        browseCarouselCard:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2IntentMessageBrowseCarouselCard'
        suggestions:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2IntentMessageSuggestions'
        text:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2IntentMessageText'
        mediaContent:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2IntentMessageMediaContent'
        image:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2IntentMessageImage'
        carouselSelect:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2IntentMessageCarouselSelect'
        tableCard:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2IntentMessageTableCard'
        listSelect:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2IntentMessageListSelect'
        card:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2IntentMessageCard'
        basicCard:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2IntentMessageBasicCard'
        platform:
          type: string
          enum:
          - PLATFORM_UNSPECIFIED
          - FACEBOOK
          - SLACK
          - TELEGRAM
          - KIK
          - SKYPE
          - LINE
          - VIBER
          - ACTIONS_ON_GOOGLE
          - GOOGLE_HANGOUTS
          x-enumDescriptions:
          - ''
          - ''
          - ''
          - ''
          - ''
          - ''
          - ''
          - ''
          - ''
          - ''
        simpleResponses:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2IntentMessageSimpleResponses'
        quickReplies:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2IntentMessageQuickReplies'
    GoogleCloudDialogflowV2IntentMessageTableCardCell:
      type: object
      properties:
        text:
          type: string
    GoogleCloudDialogflowV2IntentMessageCardButton:
      type: object
      properties:
        text:
          type: string
        postback:
          type: string
    GoogleCloudDialogflowV2IntentMessageCarouselSelectItem:
      type: object
      properties:
        info:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2IntentMessageSelectItemInfo'
        title:
          type: string
        description:
          type: string
        image:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2IntentMessageImage'
    GoogleCloudDialogflowV2AgentAssistantRecord:
      type: object
      properties:
        articleSuggestionAnswer:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2ArticleAnswer'
        generatorSuggestion:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2GeneratorSuggestion'
        dialogflowAssistAnswer:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2DialogflowAssistAnswer'
        faqAnswer:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2FaqAnswer'
    GoogleCloudDialogflowV2IntentMessageSuggestions:
      type: object
      properties:
        suggestions:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowV2IntentMessageSuggestion'
    GoogleCloudDialogflowV2ArticleAnswer:
      type: object
      properties:
        uri:
          type: string
        answerRecord:
          type: string
        title:
          type: string
        snippets:
          type: array
          items:
            type: string
        metadata:
          type: object
          additionalProperties:
            type: string
        confidence:
          type: number
          format: float
    GoogleCloudDialogflowV2FaqAnswer:
      type: object
      properties:
        metadata:
          type: object
          additionalProperties:
            type: string
        answer:
          type: string
        source:
          type: string
        answerRecord:
          type: string
        question:
          type: string
        confidence:
          type: number
          format: float
    GoogleCloudDialogflowV2IntentMessageSimpleResponse:
      type: object
      properties:
        textToSpeech:
          type: string
        displayText:
          type: string
        ssml:
          type: string
    GoogleCloudDialogflowV2IntentMessageImage:
      type: object
      properties:
        imageUri:
          type: string
        accessibilityText:
          type: string
    GoogleCloudDialogflowV2AnswerRecord:
      type: object
      properties:
        answerFeedback:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2AnswerFeedback'
        name:
          type: string
        agentAssistantRecord:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2AgentAssistantRecord'
    GoogleCloudDialogflowV2IntentParameter:
      type: object
      properties:
        prompts:
          type: array
          items:
            type: string
        value:
          type: string
        isList:
          type: boolean
        name:
          type: string
        displayName:
          type: string
        defaultValue:
          type: string
        entityTypeDisplayName:
          type: string
        mandatory:
          type: boolean
    GoogleCloudDialogflowV2ToolCallResult:
      type: object
      properties:
        answerRecord:
          type: string
        error:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2ToolCallResultError'
        cesTool:
          type: string
        action:
          type: string
        content:
          type: string
        cesApp:
          type: string
        rawContent:
          type: string
          format: byte
        tool:
          type: string
        cesToolset:
          type: string
        createTime:
          type: string
          format: date-time
          readOnly: true
    GoogleCloudDialogflowV2IntentMessageSuggestion:
      type: object
      properties:
        title:
          type: string
    GoogleCloudDialogflowV2Sentiment:
      type: object
      properties:
        magnitude:
          type: number
          format: float
        score:
          type: number
          format: float
    GoogleCloudDialogflowV2GeneratorSuggestionToolCallInfo:
      type: object
      properties:
        toolCall:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2ToolCall'
        toolCallResult:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2ToolCallResult'
    GoogleCloudDialogflowV2DialogflowAssistAnswer:
      type: object
      properties:
        answerRecord:
          type: string
        intentSuggestion:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2IntentSuggestion'
        queryResult:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2QueryResult'
    GoogleCloudDialogflowV2IntentMessageText:
      type: object
      properties:
        text:
          type: array
          items:
            type: string
    GoogleCloudDialogflowV2AnswerFeedback:
      type: object
      properties:
        clicked:
          type: boolean
        agentAssistantDetailFeedback:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2AgentAssistantFeedback'
        clickTime:
          type: string
          format: date-time
        displayTime:
          type: string
          format: date-time
        correctnessLevel:
          type: string
          enum:
          - CORRECTNESS_LEVEL_UNSPECIFIED
          - NOT_CORRECT
          - PARTIALLY_CORRECT
          - FULLY_CORRECT
          x-enumDescriptions:
          - ''
          - ''
          - ''
          - ''
        displayed:
          type: boolean
    GoogleCloudDialogflowV2IntentMessageBasicCardButtonOpenUriAction:
      type: object
      properties:
        uri:
          type: string
    GoogleCloudDialogflowV2SummarySuggestion:
      type: object
      properties:
        summarySections:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowV2SummarySuggestionSummarySection'
    GoogleCloudDialogflowV2AgentCoachingSuggestionSources:
      type: object
      properties:
        instructionIndexes:
          type: array
          readOnly: true
          items:
            type: integer
            format: int32
    GoogleCloudDialogflowV2IntentMessageColumnProperties:
      type: object
      properties:
        header:
          type: string
        horizontalAlignment:
          type: string
          enum:
          - HORIZONTAL_ALIGNMENT_UNSPECIFIED
          - LEADING
          - CENTER
          - TRAILING
          x-enumDescriptions:
          - ''
          - ''
          - ''
          - ''
  securitySchemes:
    OAuth2:
      type: oauth2
      description: Google OAuth 2.0. Scopes are declared per operation in the Discovery Document.
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/v2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/dialogflow: View, manage and query your Dialogflow agents
            https://www.googleapis.com/auth/cloud-platform: See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account.
    BearerAuth:
      type: http
      scheme: bearer
      description: 'Google OAuth 2.0 access token or service-account-minted bearer token, sent as Authorization: Bearer <token>.'
externalDocs:
  description: Dialogflow ES documentation
  url: https://cloud.google.com/dialogflow/es/docs
